.dialog-areachooser {
    md-radio-button {
        &:nth-child(1) {
            margin-left: 0;
        }
        margin-left: 40px;
    }
    md-input-container {
        margin-top: 0;
        margin-bottom: 0;
    }
    label {
        text-align: center;
    }
    .or {
        text-align: center;
        margin-top: 8px;
    }
    ark-help {
        margin-top: -15px;
    }

    .error {
        color: red;
        padding-top: 35px;
        font-size: 1.2em;
        text-align:center;
    }
}

.drawButtons {
    position: absolute;
    z-index: 100000;
    top: 0px;
    left: calc(50vw - (180px / 2));
}
