/* ******************************** */
/* Characditor ******************** */
/* ******************************** */

md-dialog.dialog-characchooser {
    table.arbo-content {
        width: 99%;
        vertical-align: top;
        border-spacing: 0;
        border-collapse: collapse;

        td, th {
            padding: 0;
        }

        tr {
            width: 100%;
        }

        td.arbo-title {
            position: relative;
            vertical-align: top;
            padding: 5px;
        }
        .charachidden {
            text-decoration: line-through;
            color: #777;
        }
        td.arbo-title div {
            cursor: pointer;
            width: 100%;
        }
        div.arbo-underline {
            position: absolute;
            bottom: 0;
            width: 100%;
            border-bottom: solid 1px #bbb;
        }
    }
    .arbo-content-n1 {
        td.arbo-title {
            width: 25%;
        }
        td.arbo-content {
            width: 75%;
        }
    }
    .arbo-content-n2 {
        td.arbo-title {
            width: 33%;
        }
        td.arbo-content {
            width: 66%;
        }
    }
    .arbo-content-n3 {
        td.arbo-title {
            width: 50%;
        }
        td.arbo-content {
            width: 50%;
        }
    }
    .arbo-content-n4 {
        td.arbo-title {
            width: 100%;
        }
        td.arbo-content {
            width: 0%;
        }
    }
}
