.database-sheet {
    section div {
        height: 30px;
        div {
            &:first-child {
                color: rgba(0,0,0,0.60);
                vertical-align: bottom;
            }
            margin-left: 5px
        }
    }
}

.ark-database-list {
    table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
        cursor: pointer;
    }

    table.md-table tbody.md-body>tr.md-row:hover, table.md-table tfoot.md-foot>tr.md-row:hover {
        background: #ddd;
    }
}
