.database-sheet {
    section div {
        margin: 3px 0;
        div {
            &:first-child {
                color: rgba(0,0,0,0.60);
                vertical-align: bottom;
                min-width: 220px;
                max-width: 220px;
                text-align: right;
                padding-right: 10px;
                font-size: 0.95em;
            }
        }
    }
}

.ark-database-list {
    table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row {
        cursor: pointer;
    }

    table.md-table tbody.md-body>tr.md-row:hover, table.md-table tfoot.md-foot>tr.md-row:hover {
        background: #ddd;
    }
}
