.arkeo-marker {
	display: inline-block;
	fill: currentColor;
    &.size1 {
	    font-size: 15px;
        transform: scale(.25);
    }
    &.size2 {
	    font-size: 16px;
        transform: scale(.35);
    }
    &.size3 {
	    font-size: 19px;
        transform: scale(.45);
    }
    &.size4 {
	    font-size: 23px;
        transform: scale(.55);
    }
    &.size5 {
	    font-size: 30px;
        transform: scale(.75);
    }
    &.size6 {
	    font-size: 37px;
        transform: scale(.85)
    }
}

.arkeo-marker-circle-svg {
    width: 50px;
    height: 50px;
}

#arkeo-marker-circle-symbol {
    stroke: #fff;
    stroke-width: 4px;
}

#arkeo-marker-circle-symbol-exceptional {
    stroke: #000;
    stroke-width: 4px;
}

.exceptional #arkeo-marker-circle-symbol {
    stroke: #000!important;
}

.arkeo-marker-circle-shape {
}

.arkeo-marker-container-circle {
    .arkeo-marker-letter {
        font-weight: bold;
        position: absolute;
		text-shadow: 0px 0px 1px #333;
        color: #fff;
        &.size1 {
            font-size: 8px;
            top: 18px;
            left: 22px;
        }
        &.size2 {
            font-size: 10px;
            top: 17px;
            left: 21px;
        }
        &.size3 {
            font-size: 13px;
            top: 15px;
            left: 20px;
        }
        &.size4 {
            font-size: 15px;
            top: 14px;
            left: 19px;
        }
        &.size5 {
            font-size: 20px;
            top: 10px;
            left: 18px;
        }
        &.size6 {
            font-size: 24px;
            top: 8px;
            left: 16px;
        }
    }
}

.arkeo-marker-drop-svg {
    width: 50px;
    height: 60px;
}

#arkeo-marker-drop-symbol {
    stroke: #fff;
    stroke-width: 4px;
}

#arkeo-marker-drop-symbol-exceptional {
    stroke: #000;
    stroke-width: 4px;
}

.arkeo-marker-drop-shape {
    width: 50px;
    height: 60px;
}

.arkeo-marker-container-drop {
    .arkeo-marker-letter {
        color: #fff;
		text-shadow: 0px 0px 1px #333;
        position: absolute;
        font-weight: bold;
        &.size1 {
            font-size: 8px;
            top: 22px;
            left: 22px;
        }
        &.size2 {
            font-size: 11px;
            top: 20px;
            left: 21px;
        }
        &.size3 {
            font-size: 13px;
            top: 19px;
            left: 20px;
        }
        &.size4 {
            font-size: 15px;
            top: 17px;
            left: 19px;
        }
        &.size5 {
            font-size: 20px;
            top: 13px;
            left: 17px;
        }
        &.size6 {
            font-size: 24px;
            top: 11px;
            left: 15px;
        }
    }
}
