.import {

	.step2 {
		.help-block {
			margin: 0;
		}
		.nvd3Chart text {
			fill: #c8c8c8 !important;
			font-family: arial;
		}
		.legend {
			font-size: 1.1em;

			.l {
				padding: 7px 0;
				&:first-child {
					margin-top: 8px;
				}
			}
			.b {
				font-weight: bold;
			}
			.ok {
				color: #9ad49a;
			}
			.nok {
				color: #fb7378;
			}
		}
		.actions {
			h3 {
				padding: 0;
				margin: 17px 17px 0 17px;
			}
			.help-block {
				margin-left: 17px;
			}
			a {
				display: table-cell;
				padding: 10px 10px;
			}
		}
	}
}
