/* ******************************** */
/* LangEditor ********************* */
/* ******************************** */
.LangEditor {
	.row {
		padding: 10px;
		background-color: white;
	}
	.section-header {
		color: rgb(33,150,243);
		padding: 10px;
		padding-top: 20px;
	}
	.row-left {
	}
	.row-right {
	}
	.section-footer {
	}
	.unset {
		background-color: #faa;
	}
}
