.content-map {
    padding: 0;
}
.arkeomap {
    .md-button {
        font-size: 0.55em;
        margin: 0;
    }
    .query {
        .md-button {
            padding: 0;
            margin: 0;
            min-width: 0;
        }
    }
}
.arkeomap-submenu {
    padding: 0;
    .md-button {
        width: 100%;
        text-align: left;
        margin: 0;
    }
}
.plusminusitem {
    position: relative;
    padding-left: 48px;
}
.button_plus {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    left: 0;
    top: -12px;
    width: 16px;
    height: 16px;
}

.button_minus {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
    left: 0;
    top: 10px;
    width: 16px;
    height: 16px;
}

.angular-leaflet-control-layers {
    position: absolute;
    background: white;
    z-index: 100;
    right: 10px;
    top: 110px;
    width: 200px;
    box-shadow: 1px 1px 5px #333;
    padding: 5px;
    .lf-row {
        display: block;
        height: 25px;
        label {
            cursor: pointer;
            width: 75%;
            .lf-text {
                float: left;
            }
        }
        .lf-icon-ol {
            padding-left: 8px;
        }
        .lf-icon {
            cursor: pointer;
            float: left;
            margin-right: 5px;
            padding-top: 2px;
        }
        .lf-icon-ol-group {
            color: #00650a;
        }
        .lf-icons {
            float: right;
        }
    }
}



.query-element-edit-icon {
    float: right;
    cursor: pointer;
}
.query-element-show-icon {
    float: right;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(90deg);
}
.query-element-icon-hide {
    transform: rotate(0deg);
}
.query-element-content {
    transition: 0.5s;
    overflow-y: hidden;
}
.query-element-content-hide {
    height: 0;
}

.arkmultiselect {
    .arkmonoselect {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 240px;

        .arkelementselect {
             width: 100%;
             //height: 24px;
             cursor: pointer;
             position: relative;
             padding-left: 40px;

             .arktributton {
                 position: absolute;
                 font-size: 16px;
                 left: 3px;
                 top: 0;
             }

             .arkexpbutton {
                 position: absolute;
                 font-size: 16px;
                 left: 20px;
                 top: 0;
             }

             .arksubselect {
                 position: absolute;
                 font-size: 16px;
                 right: 52px;
                 top: 0;
             }
        }

        .arkelementselected {
            background-color: #aaf;
        }
    }
}
