label {
    color: #666;
    margin-right: 5px;
    max-width: 150px;
    width: 100%;
}

md-dialog-header {
    min-height: 90px;
    border-bottom: 1px solid #ccc;
    label {
        max-width: 50px;
    }
}

md-divider {
    margin: 10px 0 -10px 0;
}

.period {
    div {
        text-align: center;
        width: 100%;
        &:nth-child(1) {
            font-size: 0.8em;
            text-transform: uppercase;
            color: #666;
        }
    }
    &:nth-child(1) {
        padding-right: 10px;
    }
    &:nth-child(2) {
        padding-left: 20px;
    }
}

.geonameid {
    display: inline-block;
    margin-left: 5px;
}

.altitude {
    margin-left: 35px;
    span {
        display: inline-block;
    }
}

.section {
    margin-top: -15px;
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;

    h4 {
        margin: 0 0 0 0;
        margin-top: 8px;
    }

    .info {
        margin-top: 15px;
    }
}
