@import '_material-design-icons.scss';
@import '_tributton.scss';
@import '_arkmenu.scss';
@import '_import.scss';
@import '_langeditor.scss';
@import '_chronoditor.scss';
@import '_characeditor.scss';
@import '_characchooser.scss';
@import '_database.scss';
@import '_flags.scss';
@import '_map.scss';
@import '_icons.scss';
@import '_site.scss';
@import '_leaflet-controls.scss';

html, body {
	background-color: rgb(238, 238, 238);
}

html,
body,

/**** HACK teporaire (?) couleur des select en erreur ****/

md-select.ng-invalid md-select-value span {
	// color: rgb(221,44,0);
}

md-content {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -moz-osx-font-smoothing: grayscale;
}

.animate-hide {
	transition: all linear 0.3s;
	opacity: 1;
	&.ng-hide {
	  opacity: 0;
	}
}

.main-md-content  {
	h1 {
		margin-bottom: 0;
		padding:0 0 10px 15px;
	}
}

md-switch {
	margin-left: 0!important
}


._md-open-menu-container {
	z-index: 10000;
}

ark-form-block {
	display: block;
	margin: 18px 0;

	md-input-container {
		margin: 0;
		white-space: nowrap;
	}

	md-chips {
		md-chips-wrap {
			padding-bottom: 0;
		}
	}
}

ark-help {
	display: block;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
	margin-left: 5px;
	min-height: 30px;
    color: #555;
	a {
		color: #999
	}
	&.chips {
		margin-top: 8px;
	}
	&.datepicker {
		margin-top: 8px;
	}
	&.input {
		margin-top: -15px;
	}
	&.textarea {
		margin-top: -20px;
	}
	&.select {
		margin-top: 8px;
	}
	&.switch {
		margin-top: -15px;
	}
}

input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 300;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 300;
}
input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 300;
}
input::input-placeholder {
  color: rgba(0, 0, 0, 0.26);
  font-weight: 300;
}

a {
  text-decoration: none;
  color: rgb(33,150,243);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*
.md-button.md-icon-button {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.md-button.md-icon-button > i {
  margin: auto;
}
*/
md-data-table-toolbar.ng-hide {
  display: none;
}
md-data-table-toolbar.alternate {
  color: #1e88e5;
  background-color: #e3f2fd;
}
md-data-table-toolbar > .md-button.md-icon-button:last-child {
  margin-right: -12px;
}
md-data-table-toolbar > form {
  margin-left: 16px;
}
md-data-table-toolbar > form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}
md-data-table-toolbar > form > input:focus {
  outline: none;
}

/*** utils ***/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/*** sidenav ***/

md-sidenav md-toolbar {
	text-align: center;
}
md-sidenav {
	button {
		text-align: center;
	}
	button.selected {
		background-color: rgb(130,177,255);
	}
}

input, .md-option, textarea, md-select {
	background-color: #cceeff!important;
}

.error-red {
	color: rgb(221,44,0);
    margin-top: 4px;
	padding-right: 5px;
    padding-left: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 12px;
    line-height: 14px;
    overflow: hidden;
    transition: all 0.3s;
}

/* loading */
div#arkeo_loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
	opacity: 0.5;
	z-index: 9999;
	font-size: 48px;
	vertical-align: middle;
	color: white;
	cursor: wait;
}


/*** Lang selector ***/

.ark-flags-spacer {
	position: absolute;
	top: 15px;
	left: 52px;
}

.ark-lang-selector {
	height: 40px;
	margin-top: -20px;

	.caption {
		display: inline-block;
	}

	_md-text {
		position: relative;
	}

	.ark-flags-spacer {
		position: absolute;
		top: 9px;
		left: 35px;
	}
}

/*** cell warning ***/
.cell-warning {
	background: #ff7d7d;
}


/*** leaflet z-index conflict with z-indexs of angular 1000 -> 15 ***/
.leaflet-top, .leaflet-bottom {
	z-index: 15;
}
