<div class="arkeo-characeditor-list">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span translate>CHARACEDITOR.LIST.T_TITLE</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Ajouter une nouvelle caractéristique..." href="#/characeditor/">
                <md-icon size="32">add_circle_outline</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
        <table class="characlist" md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="order"><span translate>CHARACEDITOR.LIST_ORDER.T_TITLE</span></th>
                    <th md-column md-order-by="name | arkTranslate">
                        <span translate>CHARACEDITOR.LIST_NAME.T_TITLE</span> / <span translate>CHARACEDITOR.LIST_DESCRIPTION.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="cached_langs">
                        <span translate>CHARACEDITOR.LIST_LANGS.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="created_at">
                        <span translate>CHARACEDITOR.LIST_DATECREATED.T_TITLE</span>
                    </th>
                </tr>
            </thead>
            <tbody md-body>
                <tr
                    md-row
                    md-select="charac"
                    md-select-id="name"
                    md-auto-select
                    ng-repeat="charac in characlist | filter:query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                    <td md-cell>{{charac.order}}</td>
                    <td md-cell>
                        <div style="white-space: nowrap;">
                            <a href="#/characeditor/{{charac.id}}" ark-get-translation ark-translations="charac.name"></a>
                        </div>
                        <br/>
                        <div style="font-size: 0.8em; color: #555" ark-get-translation ark-translations="charac.description"></div>
                    </td>
                    <td md-cell>{{charac.cached_langs}}</td>
                    <td md-cell>
                        {{ charac.created_at | date : 'mediumDate' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-label="{page: '{{'USER.FOOTER_USERSLIST.T_PAGE' | translate }}', rowsPerPage: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE' | translate }}', of: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE_OF' | translate }}'}"
                         md-limit="query.limit" md-limit-options="[5, 10, 25, 50]" md-page="query.page" md-total="{{characlist.length}}" md-page-select></md-table-pagination>
</div>
