<md-dialog class="dialog-characchooser" aria-label="Chacar Chooser..." ng-cloak>

    <md-toolbar layout-padding id='arkeo-characchooser-toolbar' class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h3>
                <span translate>PROJECT_EDITOR.CHARACCHOOSER.T_TITLE</span> <span ark-get-translation ark-translations="arbo.name"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <h4 translate>PROJECT_EDITOR.CHARACCHOOSER.T_INTRO</h4>

            <table class="arbo-content arbo-content-n1">
                <tr ng-repeat="(idx1, n1) in arbo.content">
                    <td class="arbo-title" style="background-color: #{{n1.color}}">
                        <div ark-get-translation ark-translate-bind-lang="1" ark-translations="n1.name" class="noselect" ng-class="n1.hidden ? 'charachidden' : 'charanotchidden'" ng-click="toggleHidden(n1)"></div>
                        <div class="arbo-underline"></div>
                    </td>
                    <td class="arbo-content">
                        <table class="arbo-content arbo-content-n2">
                            <tr ng-repeat="(idx2, n2) in n1.content">
                                <td class="arbo-title" style="background-color: #{{n2.color}}">
                                    <div ark-get-translation ark-translate-bind-lang="1" ark-translations="n2.name" class="noselect" ng-class="n2.hidden ? 'charachidden' : 'characnothidden'" ng-click="toggleHidden(n2)"></div>
                                    <div class="arbo-underline"></div>
                                </td>
                                <td class="arbo-content">
                                    <table class="arbo-content arbo-content-n3">
                                        <tr ng-repeat="(idx3, n3) in n2.content">
                                            <td class="arbo-title" style="background-color: #{{n3.color}}">
                                                <div ark-get-translation ark-translate-bind-lang="1" ark-translations="n3.name" class="noselect" ng-class="n3.hidden ? 'charachidden' : 'characnothidden'" ng-click="toggleHidden(n3)"></div>
                                                <div class="arbo-underline"></div>
                                            </td>
                                            <td class="arbo-content">

                                                <table class="arbo-content arbo-content-n4">
                                                    <tr ng-repeat="(idx4, n4) in n3.content">
                                                        <td class="arbo-title" style="background-color: #{{n4.color}}">
                                                            <div ark-get-translation ark-translate-bind-lang="1" ark-translations="n4.name" class="noselect" ng-class="n4.hidden ? 'charachidden' : 'characnothidden'" ng-click="toggleHidden(n4)"></div>
                                                            <div class="arbo-underline"></div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-click="hide()"><span translate>PROJECT_EDITOR.CHARACCHOOSER_BUTTON_CANCEL.T_TITLE</span></md-button>
            <md-button class="md-raised md-primary" type="submit" ng-click="save()"><span translate>PROJECT_EDITOR.CHARACCHOOSER_BUTTON_SUBMIT.T_TITLE</span></md-button>
        </md-dialog-actions>

</md-dialog>
