<div class="arkeo-characeditor" layout="column">

    <md-toolbar id='arkeo-characeditor-toolbar' class="md-primary md-hue-3 fixme">
        <div class="md-toolbar-tools" layout="row">
            <h3 flex="80">
                <md-button ng-click="openLeftMenu()"><md-icon>menu</md-icon></md-button>
                <span translate>CHARACEDITOR.HEADER_CHARACEDITOR.T_TITLE</span> <span ark-get-translation ark-translations="arbo.name"></span>
            </h3>
            <md-input-container flex="20">
                <ark-lang-selector ark-set-as-translation-lang="1"></ark-lang-selector>
            </md-input-container>
        </div>
    </md-toolbar>

    <div layout="row" ng-hide="chooseemprise">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-open="mdsidenav_opened">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools" translate>CHARACEDITOR.SIDENAV.T_TITLE</h1>
            </md-toolbar>
            <md-content layout="column">
                <md-input-container flex>
                    <label translate>CHARACEDITOR.INPUT_NAME.T_TITLE</label>
                    <input ng-model="arbo.name_cur" maxlength="250" ng-change="check_all()" ark-translate ark-translate-bind-lang="1" ark-translations="arbo.name"></input>
                </md-input-container>
                <md-input-container flex>
                    <label translate>CHARACEDITOR.INPUT_DESCRIPTION.T_TITLE</label>
                    <textarea ng-model="arbo.description_cur" ark-translate ark-translate-bind-lang="1" ark-translations="arbo.description"></textarea>
                </md-input-container>
                <md-input-container flex>
                    <label translate>CHARACEDITOR.INPUT_ORDER.T_TITLE</label>
                    <input type="number" ng-model="arbo.order"></input>
                </md-input-container>
                <div flex>
                    <label translate>CHARACEDITOR.INFO_MEMBERS.T_TITLE</label>
                    <div>
                        <span ng-repeat="user in arbo.users_in_group">{{$first ? '' : ', '}}{{user.firstname}} {{user.lastname}}</span>
                    </div>
                </div>
                <md-input-container>
                    <div style="background-color: #eee">
                        <div><span translate>CHARACEDITOR.INFO_PUBLISHABLE.T_TITLE</span> : <span translate>{{publishable ? 'CHARACEDITOR.INFO_PUBLISHABLE.T_YES' : 'CHARACEDITOR.INFO_PUBLISHABLE.T_NO'}}</span></div>
                        <!--<div><span translate>CHARACEDITOR.INFO_DATEERRORS.T_TITLE</span> : <span>{{errstatus.errcount}}</span></div>-->
                        <div ng-repeat="(isocode, count) in errstatus.tradscount">
                            <img style="vertical-align: middle" src="/img/blank.gif" class="flag flag-{{isocode}}" alt="{{isocode}}" /> {{count}} / {{errstatus.elemcount}}
                        </div>
                    </div>
                </md-input-container>
                <md-toolbar class="md-theme-indigo">
                    <md-button class="md-raised" aria-label="Download CSV" ng-click="download_csv()"><span translate>CHARACEDITOR.BUTTON_DOWNLOADCSV.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Import CSVs zip" ngf-select ng-model="file" ngf-multiple="false" ngf-accept="'application/zip, application/x-zip-compressed'"><span translate>CHARACEDITOR.BUTTON_IMPORTCSV.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Save" ng-click="save()" ng-disabled="!publishable"><span translate>CHARACEDITOR.BUTTON_SAVE.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Retour liste" ng-click="gotolist()"><span translate>CHARACEDITOR.BUTTON_GOTOLIST.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Cancel" ng-click="load()" ark-confirm="CHARACEDITOR.BUTTON_CANCEL.T_CONFIRM" ark-confirm-ok="CHARACEDITOR.BUTTON_CANCEL.T_OK"><span translate>CHARACEDITOR.BUTTON_CANCEL.T_TITLE</span></md-button>
                    <md-button class="md-raised" aria-label="Supprimer" ng-click="delete_charac()" ark-confirm="CHARACEDITOR.BUTTON_DELETE.T_CONFIRM" ark-confirm-ok="CHARACEDITOR.BUTTON_DELETE.T_OK"><span translate>CHARACEDITOR.BUTTON_DELETE.T_TITLE</span></md-button>
                </md-toolbar>

            </md-content>
        </md-sidenav>

        <md-content>

            <div ng-show="false">arbo:
                {{arbo}}</div>

            <table class="arbo-content arbo-content-n1">
                <tr ng-repeat="(idx1, n1) in arbo.content">
                    <td class="arbo-title" style="background-color: #{{n1.color}}">
                        <div style="position: absolute">{{n1.id}}</div>
                        <md-input-container class='title'>
                            <label translate>CHARACEDITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                            <input name="" ng-model="n1.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n1.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                        </md-input-container>
                        <md-input-container class='order'>
                            <label translate>CHARACEDITOR.INPUT_ELEM_ORDER.T_TITLE</label>
                            <input type="number" name="" ng-model="n1.order" ng-change="check_all()" placeholder="" required maxlength="4" minlength="1"/>
                        </md-input-container>
                        <div layout="column" class="arbo-buttons">
                            <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n1, arbo, idx1, idx1, 1)">
                                <md-icon>add</md-icon>
                            </md-button>
                            <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n1, arbo, idx1, idx1, 1)">
                                <md-icon>remove</md-icon>
                            </md-button>
                        </div>
                        <!--
                        <md-button flex class="md-mini button-add-element" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n1, arbo, idx1, idx1, 1)">
                            <md-icon>add</md-icon>
                        </md-button>
                        -->
                    </td>
                    <td class="arbo-content">

                        <table class="arbo-content arbo-content-n2">
                            <tr ng-repeat="(idx2, n2) in n1.content">
                                <td class="arbo-title" style="background-color: #{{n2.color}}">
                                    <div style="position: absolute">{{n2.id}}</div>
                                    <md-input-container class='title'>
                                        <label translate>CHARACEDITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                        <input name="" ng-model="n2.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n2.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                    </md-input-container>
                                    <md-input-container class='order'>
                                        <label translate>CHARACEDITOR.INPUT_ELEM_ORDER.T_TITLE</label>
                                        <input type="number" name="" ng-model="n2.order" ng-change="check_all()" placeholder="" required maxlength="4" minlength="1"/>
                                    </md-input-container>
                                    <div layout="column" class="arbo-buttons">
                                        <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n2, n1, idx1, idx2, 2)">
                                            <md-icon>add</md-icon>
                                        </md-button>
                                        <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n2, n1, idx1, idx2, 2)">
                                            <md-icon>remove</md-icon>
                                        </md-button>
                                    </div>
                                </td>
                                <td class="arbo-content">

                                    <table class="arbo-content arbo-content-n3">
                                        <tr ng-repeat="(idx3, n3) in n2.content">
                                            <td class="arbo-title" style="background-color: #{{n3.color}}">
                                                <div style="position: absolute">{{n3.id}}</div>
                                                <md-input-container class='title'>
                                                    <label translate>CHARACEDITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                                    <input name="" ng-model="n3.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n3.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                                </md-input-container>
                                                <md-input-container class='order'>
                                                    <label translate>CHARACEDITOR.INPUT_ELEM_ORDER.T_TITLE</label>
                                                    <input type="number" name="" ng-model="n3.order" ng-change="check_all()" placeholder="" required maxlength="4" minlength="1"/>
                                                </md-input-container>
                                                <div layout="column" class="arbo-buttons">
                                                    <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(n3, n2, idx1, idx3, 3)">
                                                        <md-icon>add</md-icon>
                                                    </md-button>
                                                    <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n3, n2, idx1, idx3, 3)">
                                                        <md-icon>remove</md-icon>
                                                    </md-button>
                                                </div>
                                            </td>
                                            <td class="arbo-content">

                                                <table class="arbo-content arbo-content-n4">
                                                    <tr ng-repeat="(idx4, n4) in n3.content">
                                                        <td class="arbo-title" style="background-color: #{{n4.color}}">
                                                            <div style="position: absolute">{{n4.id}}</div>
                                                            <md-input-container class='title'>
                                                                <label translate>CHARACEDITOR.INPUT_ELEM_TITLE.T_TITLE</label>
                                                                <input name="" ng-model="n4.name_cur" ark-translate ark-translate-bind-lang="1" ark-translations="n4.name" ng-change="check_all()" placeholder="" required maxlength="255" minlength="1"/>
                                                            </md-input-container>
                                                            <md-input-container class='title'>
                                                                <label translate>CHARACEDITOR.INPUT_ELEM_ARKID.T_TITLE</label>
                                                                <input name="" ng-model="n4.arkid" placeholder="" required maxlength="255" minlength="0"/>
                                                            </md-input-container>
                                                            <md-input-container class='order'>
                                                                <label translate>CHARACEDITOR.INPUT_ELEM_ORDER.T_TITLE</label>
                                                                <input type="number" name="" ng-model="n4.order" ng-change="check_all()" placeholder="" required maxlength="4" minlength="1"/>
                                                            </md-input-container>
                                                            <div layout="column" class="arbo-buttons">
                                                                <md-button flex class="md-mini" aria-label="remove" md-ripple-size="full" ng-click="remove_arbo(n4, n3, idx1, idx4, 4)">
                                                                    <md-icon>remove</md-icon>
                                                                </md-button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </td>
                                        </tr>
                                    </table>

                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>

            <md-button flex class="md-mini" aria-label="add" md-ripple-size="full" ng-click="add_arbo(arbo, null, arbo.content.length, 0, 0)">
                <md-icon>add</md-icon>
            </md-button>

        </md-content>
    </div>

</div>
