<div class="arkeo-chronoditor-list">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span translate>CHRONODITOR.LIST.T_TITLE</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Ajouter une nouvelle chronologie..." href="#/chronoditor/">
                <md-icon size="32">add_circle_outline</md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
        <table class="chronolist" md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name | arkTranslate">
                        <span translate>CHRONODITOR.LIST_NAME.T_TITLE</span> / <span translate>CHRONODITOR.LIST_DESCRIPTION.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="nameToLower">
                        <span translate>CHRONODITOR.LIST_AUTHOR.T_TITLE</span> / <span translate>CHRONODITOR.LIST_CREDITS.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="cached_langs">
                        <span translate>CHRONODITOR.LIST_LANGS.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="created_at">
                        <span translate>CHRONODITOR.LIST_DATECREATED.T_TITLE</span>
                    </th>
                    <th md-column md-order-by="date_begin"><span translate>CHRONODITOR.LIST_PERIOD.T_TITLE</span></th>
                    <th md-column md-order-by="active"><span translate>CHRONODITOR.LIST_PUBLISHED.T_TITLE</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr
                    md-row
                    md-select="chrono"
                    md-select-id="name"
                    md-auto-select
                    ng-repeat="chrono in chronolist | filter:query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                    <td md-cell>
                        <div style="white-space: nowrap;">
                            <a href="#/chronoditor/{{chrono.id}}" ark-get-translation ark-translations="chrono.name"></a>
                        </div>
                        <br/>
                        <div style="font-size: 0.8em; color: #555" ark-get-translation ark-translations="chrono.description"></div>
                    </td>
                    <td md-cell>
                        <div>{{chrono.author.firstname}} {{chrono.author.lastname}}</div>
                        <div>{{chrono.credits}}</div>
                    </td>
                    <td md-cell>{{chrono.cached_langs}}</td>
                    <td md-cell>
                        {{ chrono.created_at | date : 'mediumDate' }}
                    </td>
                    <td md-cell>{{chrono.start_date | arkYear}} <span translate>CHRONODITOR.LIST_PERIOD.T_TO</span> {{chrono.end_date | arkYear}}</td>
                    <td md-cell>
                        <span translate>{{chrono.active ? 'CHRONODITOR.LIST_PUBLISHED.T_YES': 'CHRONODITOR.LIST_PUBLISHED.T_NO'}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-label="{page: '{{'USER.FOOTER_USERSLIST.T_PAGE' | translate }}', rowsPerPage: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE' | translate }}', of: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE_OF' | translate }}'}"
                         md-limit="query.limit" md-limit-options="[5, 10, 25, 50]" md-page="query.page" md-total="{{chronolist.length}}" md-page-select></md-table-pagination>
</div>
