<div class="arkeo-chronoditor-list">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span>Chronologies</span>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Ajouter une nouvelle chronologie...">
                <md-icon size="32">add_circle_outline</md-icon>
            </md-button>

        </div>
    </md-toolbar>

    <!-- exact table from live demo -->
    <md-table-container>
        <table class="chronolist" md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                <tr md-row>
                    <th md-column md-order-by="nameToLower">
                        <span>Nom / Description</span>
                    </th>
                    <th md-column md-order-by="nameToLower">
                        <span>Auteur / Crédits</span>
                    </th>
                    <th md-column md-order-by="calories.value">
                        <span>Date création</span>
                    </th>
                    <th md-column>Publié</th>
                    <th md-column>Date début/fin</th>
                    <th md-column>Membres du groupe de travail</th>
                    <th md-column>Action</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr
                    md-row
                    md-select="chrono"
                    md-select-id="name"
                    md-auto-select
                    ng-repeat="chrono in chronolist">
                    <td md-cell>
                        <div style="white-space: nowrap;">
                            <a href="#/chronoditor">{{chrono.name}}</a>
                        </div>
                        <br/>
                        <div style="font-size: 0.8em; color: #555">{{chrono.description}}</div>
                    </td>
                    <td md-cell>
                        <input type="text" ng-model="chrono.author" placeholder="author"></input>
                        <br/><br/>
                        <input type="text" ng-model="chrono.credits" placeholder="crédits"></input>
                    </td>
                    <td md-cell>
                        <md-datepicker ng-model="chrono.created_at" md-placeholder="Date création"></md-datepicker>
                    </td>
                    <td md-cell>
                        <md-switch ng-model="chrono.active" aria-label="Publié"></md-switch>
                    </td>
                    <td md-cell>{{chrono.date_begin}}
                        à
                        {{chrono.date_end}}</td>
                    <td md-cell>
                        <md-contact-chips name="truit" ng-model="chrono.users" md-contacts="chrono.users" md-contact-name="name" md-contact-image="image" md-contact-email="email" md-require-match="true" md-highlight-flags="i" placeholder=""></md-contact-chips>

                    </td>
                    <td md-cell>
                        <md-button class="md-raised" aria-label="Emprise">Emprise...</md-button>
                        <md-button class="md-raised" aria-label="Supprimer">Supprimer</md-button>
                        <md-button class="md-raised" aria-label="Save">Sauver</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
</div>
