<div class="arkeomap" layout="row" style="position: relative">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-left">
        <md-content layout-padding ng-controller="MapQueryCtrl">
            <!-- New query display -->
            <div>

                <!-- archived queries menu -->
                <md-input-container>
                    <label>Requêtes archivées</label>
                    <md-select ng-model="archives">
                        <md-option ng-repeat="archive in archives" value="{{archive.id}}">{{archive.name}}</md-option>
                    </md-select>
                </md-input-container>

                <!-- query title -->
                <div class="query-title">{{query.name}}</div>

                <!-- area -->
                <div class="query-element query-element-area">
                    <div class="query-element-title">
                        <span translate>QUERY.AREA.T_TITLE</span>
                        <div class="query-element-edit-icon noselect"><md-icon ng-click="showAreaChooserDialog()">mode_edit</md-icon></div>
                        <div class="query-element-show-icon noselect"><md-icon ng-click="toggle_query_element('area')">play_arrow</md-icon></div>
                    </div>
                    <div class="query-element-content">
                        blah
                    </div>
                </div>

                <!-- databases -->
                <div class="query-element query-element-databases">
                    <div class="query-element-title">
                        <span translate>QUERY.DATABASES.T_TITLE</span>
                        <div class="query-element-edit-icon noselect"><md-icon ng-click="showDatabaseChooserDialog()">mode_edit</md-icon></div>
                        <div class="query-element-show-icon noselect"><md-icon ng-click="toggle_query_element('databases')">play_arrow</md-icon></div>
                    </div>
                    <div class="query-element-content">
                        <div class="query-subelement" ng-repeat="(dbtype, databases) in databases_per_type">
                            <div class="query-subelement-title">{{dbtype | translate}}</div>
                            <ul>
                                <li ng-repeat="database in databases">- {{database.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- characs -->
                <div class="query-element query-element-characs">
                    <div class="query-element-title">
                        <span translate>QUERY.CHARACS.T_TITLE</span>
                        <div class="query-element-edit-icon noselect"><md-icon ng-click="showCharacChooserDialog()">mode_edit</md-icon></div>
                        <div class="query-element-show-icon noselect"><md-icon ng-click="toggle_query_element('characs')">play_arrow</md-icon></div>
                    </div>
                    <div class="query-element-content">
                        <div class="query-subelement" ng-if="characs_selecteds_include.length > 0">
                            <div class="query-subelement-title" translate>QUERY.CHARACS.T_INCLUDE</div>
                            <div ng-repeat="path in characs_selecteds_include">- {{path}}</div>
                        </div>
                        <div class="query-subelement" ng-if="characs_selecteds_exceptional.length > 0">
                            <div class="query-subelement-title" translate>QUERY.CHARACS.T_EXCEPTIOINAL</div>
                            <div ng-repeat="path in characs_selecteds_exceptional">- {{path}}</div>
                        </div>
                        <div class="query-subelement" ng-if="characs_selecteds_exclude.length > 0">
                            <div class="query-subelement-title" translate>QUERY.CHARACS.T_EXCLUDE</div>
                            <div ng-repeat="path in characs_selecteds_exclude">- {{path}}</div>
                        </div>
                    </div>
                </div>

                <hr/>

            </div>

            <div>
                <div>
                    <ark-menu-item ng-model="query.centroid" ark-item="menuCentroid"></ark-menu-item>
                    <ark-menu-item ng-model="query.knowledge" ark-item="menuKnowledge"></ark-menu-item>
                    <ark-menu-item ng-model="query.occupation" ark-item="menuOccupation"></ark-menu-item>
                </div>

                <div>
                    <ark-menu-item ng-model="query.zone" ark-item="menuZone"></ark-menu-item>
                </div>

                <div ng-repeat="menuDatabase in menuDatabases">
                    <ark-menu-item ng-model="query.database" ark-item="menuDatabase"></ark-menu-item>
                </div>

                <div ng-repeat="menuChronology in menuChronologies">
                    <ark-menu-item ng-model="query.chronology" ark-item="menuChronology"></ark-menu-item>
                </div>

                <div ng-repeat="characMenu in menuCharacs">
                    <ark-menu-item ng-model="query.charac" ark-item="characMenu"></ark-menu-item>
                </div>

            </div>
            <!-- latest div for menus -->

            <div>
                <md-button ng-click="showMap()">
                    <span translate>MAP.BUTTON_DISPLAYMAP.T_TITLE</span>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-content class="content-map" flex layout-padding ng-controller="MapLeafletCtrl">
        <!-- <leaflet controls="controls" defaults="defaults" layers="layers" flex height="{{mapHeight}}" lf-center="center" width="100%" watch-options="{{watchOptions}}">
            <layercontrol order="normal" icons="layercontrol.icons" auto-hide-opacity="true" show-groups="true" title="Layer Manager" base-title="Base Layers" overlays-title="Overlays Layers"></layercontrol>
        </leaflet> -->

        <ark-leaflet height="mapHeight"></ark-leaflet>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav-right" style='z-index: 1000'>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Récapitulatif :</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="MapQueryCtrl">
            <div class="query">
                <div>{{query.centroid}}</div>
                <div>{{query.database}}</div>
                <div>{{query.charac}}</div>
                <div>{{query.chronology}}</div>
                <div>{{query.knowledge}}</div>
                <div ng-hide="isEmptyObject(query.centroid)">
                    <span translate>Centroïde</span>
                    :
                    <span ng-repeat="o in menutolist(query.centroid, menuCentroid.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('centroid', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span>
                    </span>
                </div>
                <div ng-hide="isEmptyObject(query.knowledge)">
                    <span translate>Connaisance</span>
                    :
                    <span ng-repeat="o in menutolist(query.knowledge, menuKnowledge.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('knowledge', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span>
                    </span>
                </div>
                <div ng-hide="isEmptyObject(query.occupation)">
                    <span translate>Connaisance</span>
                    :
                    <span ng-repeat="o in menutolist(query.occupation, menuOccupation.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('occupation', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span>
                    </span>
                </div>
                <div ng-show="query.searchzone != undefined">
                    Zone de recherche :
                    <span ng-repeat="o in query.searchzone">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('searchzone', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        {{ o.text }}</span>
                </div>
            </div>

            <hr/>

            <div>{{query}}</div>
        </md-content>
    </md-sidenav>

    <div style="position: absolute; left: 10px; top: 10px; width: 64px; height: 48px; background: white">
        <md-button ng-click="open_sides()">
            <md-icon>search</md-icon>
        </md-button>
    </div>

</div>

<svg style="position: absolute" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="arkeo-marker-circle-symbol" viewBox="0 0 55 55">
        <title>icon site</title>
        <circle cx="27" cy="27" r="25" id="arkeo-marker-circle-shape"></circle>
        <!-- <g transform="translate(16,34)">
                <text id="arkeo-marker-letter" class="arkeo-marker-letter arkeo-marker-circle-letter">A</text>
            </g> -->
    </symbol>
    <symbol id="arkeo-marker-circle-symbol-exceptional" viewBox="0 0 55 55">
        <title>icon site</title>
        <circle cx="27" cy="27" r="25" id="arkeo-marker-circle-shape"></circle>
    </symbol>
    <symbol id="arkeo-marker-drop-symbol" viewBox="0 0 55 60">
        <title>icon site</title>
        <path
            id="arkeo-marker-drop-shape"
            d="m 25.221294,1.1584867 c 6.882118,0.5186017 13.527295,2.032357 18.856181,9.0745373 3.143609,4.48669 5.587851,9.418432 5.303301,16.086679 -0.90221,7.170462 -3.98018,12.382739 -8.013877,16.734861 -3.115035,2.984752 -6.868596,6.227605 -9.722719,8.779909 -1.34619,1.430765 -1.997047,1.568303 -3.889087,4.24264 -1.156208,1.890995 -2.424441,3.66597 -2.483249,4.302793 m 0.184,-59.2214193 C 18.573726,1.6770884 11.928549,3.1908437 6.5996633,10.233024 3.456054,14.719714 1.0118115,19.651456 1.2963624,26.319703 c 0.9022093,7.170462 3.9801795,12.382739 8.0138769,16.734861 3.1150347,2.984752 6.8685957,6.227605 9.7227187,8.779909 1.34619,1.430765 1.997047,1.568303 3.889087,4.24264 1.156208,1.890995 2.424441,3.66597 2.483249,4.302793"/>
        <!-- <g transform="translate(30, 78)">
                    <text class="arkeo-marker-letter arkeo-marker-drop-letter">B</text>
                </g> -->
    </symbol>
    <symbol id="arkeo-marker-drop-symbol-exceptional" viewBox="0 0 55 60">
        <title>icon site</title>
        <path
            id="arkeo-marker-drop-shape"
            d="m 25.221294,1.1584867 c 6.882118,0.5186017 13.527295,2.032357 18.856181,9.0745373 3.143609,4.48669 5.587851,9.418432 5.303301,16.086679 -0.90221,7.170462 -3.98018,12.382739 -8.013877,16.734861 -3.115035,2.984752 -6.868596,6.227605 -9.722719,8.779909 -1.34619,1.430765 -1.997047,1.568303 -3.889087,4.24264 -1.156208,1.890995 -2.424441,3.66597 -2.483249,4.302793 m 0.184,-59.2214193 C 18.573726,1.6770884 11.928549,3.1908437 6.5996633,10.233024 3.456054,14.719714 1.0118115,19.651456 1.2963624,26.319703 c 0.9022093,7.170462 3.9801795,12.382739 8.0138769,16.734861 3.1150347,2.984752 6.8685957,6.227605 9.7227187,8.779909 1.34619,1.430765 1.997047,1.568303 3.889087,4.24264 1.156208,1.890995 2.424441,3.66597 2.483249,4.302793"/>
    </symbol>
</svg>
