<div class="arkeomap" layout="row" style="position: relative">

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="sidenav-left">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Recherche :</h1>
        </md-toolbar>
        <md-content layout-padding>
            <div>
                <div>
                    <ark-menu-item ng-model="query.centroid" ark-item="menuCentroid"></ark-menu-item>
                    <ark-menu-item ng-model="query.knowledge" ark-item="menuKnowledge"></ark-menu-item>
                    <ark-menu-item ng-model="query.occupation" ark-item="menuOccupation"></ark-menu-item>
                </div>

                <div>
                    <ark-menu-item ng-model="query.zone" ark-item="menuZone"></ark-menu-item>
                </div>

                <div>
                    <ark-menu-item ng-model="query.database" ark-item="menuDatabase"></ark-menu-item>
                </div>

                <div ng-repeat="chrono in menuChronos">
                    <ark-menu-item ng-model="query.chrono" ark-item="chrono"></ark-menu-item>
                </div>

                <div ng-repeat="charac in menuCharacs">
                    <ark-menu-item ng-model="query.characs" ark-item="charac"></ark-menu-item>
                </div>

            </div> <!-- latest div for menus -->

            <div>
                <md-button><span translate>MAP.BUTTON_DISPLAYMAP.T_TITLE</span></md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-content class="content-map" flex layout-padding>
        <leaflet controls="controls" defaults="defaults" layers="layers" flex height="{{mapHeight}}" lf-center="center" width="100%"></leaflet>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="sidenav-right" style='z-index: 1000'>
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Récapitulatif :</h1>
        </md-toolbar>
        <md-content layout-padding>
            <div class="query">
                <div>{{query.centroid}}</div>
                <div>{{query.characs}}</div>
                <div>{{query.chrono}}</div>
                <div>{{query.knowledge}}</div>
                <div ng-hide="isEmptyObject(query.centroid)">
                    <span translate>Centroïde</span> :
                    <span ng-repeat="o in menutolist(query.centroid, menuCentroid.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('centroid', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span></span>
                </div>
                <div ng-hide="isEmptyObject(query.knowledge)">
                    <span translate>Connaisance</span> :
                    <span ng-repeat="o in menutolist(query.knowledge, menuKnowledge.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('knowledge', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span></span>
                </div>
                <div ng-hide="isEmptyObject(query.occupation)">
                    <span translate>Connaisance</span> :
                    <span ng-repeat="o in menutolist(query.occupation, menuOccupation.menu)">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('occupation', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        <span translate>{{ o.text }}</span></span>
                </div>
                <div ng-show="query.searchzone != undefined">
                    Zone de recherche :
                    <span ng-repeat="o in query.searchzone">{{ $first ? '' : ', ' }}
                        <md-button ng-click="removeFromQuery('searchzone', o.v)">
                            <md-icon>delete</md-icon>
                        </md-button>
                        {{ o.text }}</span>
                </div>
            </div>
        </md-content>
    </md-sidenav>

    <div style="position: absolute; left: 10px; top: 10px; width: 64px; height: 48px; background: white">
        <md-button ng-click="open_sides()">
            <md-icon>search</md-icon>
        </md-button>
    </div>

</div>


<svg style="position: absolute" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

<defs><symbol id="arkeo-marker-circle" viewBox="0 0 108 108"><title>icon site</title>
   <circle cx="55" cy="55" r="50" id="arkeo-marker-circle"></circle>
      <g transform="translate(30, 78)">
        <text id="arkeo-marker-letter">A</text>
      </g>
  </symbol>
    <symbol id="arkeo-symbol-marker" viewBox="0 0 49.305775 59.78545"><title>icon site</title>
          <path d="m 27.157693,55.420056 c 1.89204,-2.674337 2.542897,-2.811875 3.889087,-4.24264 2.854123,-2.552304 6.607684,-5.795157 9.722719,-8.779909 4.033697,-4.352122 7.111667,-9.564399 8.013877,-16.734861 C 49.067926,18.994399 46.623684,14.062657 43.480075,9.5759669 38.151189,2.5337866 31.506012,1.0200313 24.652887,0.50142959 17.799763,1.0200313 11.154586,2.5337866 5.8257005,9.5759669 2.6820912,14.062657 0.23784869,18.994399 0.52239959,25.662646 1.4246089,32.833108 4.5025791,38.045385 8.5362765,42.397507 c 3.1150345,2.984752 6.8685955,6.227605 9.7227185,8.779909 1.34619,1.430765 1.997047,1.568303 3.889087,4.24264 1.156208,1.890995 2.424441,3.66597 2.504805,4.302793 0.08036,-0.636823 1.348598,-2.411798 2.504806,-4.302793 z"  />
        <g transform="translate(30, 78)">
            <text id="arkeo-icon-letter">A</text>
        </g>
    </symbol>

</defs></svg>



<!--
<svg style="position: absolute" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs>
    <symbol id="arkeo-symbol-circle" viewBox="0 0 108 108">
        <title>icon site</title>
        <circle cx="55" cy="55" r="50" id="arkeo-marker-circle"></circle>
        <g transform="translate(30, 78)">
            <text id="arkeo-icon-letter">A</text>
        </g>
    </symbol>
    <symbol id="arkeo-symbol-marker" viewBox="0 0 49.129211 59.765984"><title>icon site</title>
        <path id="arkeo-marker-drop" d="m 25.221294,1.1584867 c 6.882118,0.5186017 13.527295,2.032357 18.856181,9.0745373 3.143609,4.48669 5.587851,9.418432 5.303301,16.086679 -0.90221,7.170462 -3.98018,12.382739 -8.013877,16.734861 -3.115035,2.984752 -6.868596,6.227605 -9.722719,8.779909 -1.34619,1.430765 -1.997047,1.568303 -3.889087,4.24264 -1.156208,1.890995 -2.424441,3.66597 -2.483249,4.302793 m 0.184,-59.2214193 C 18.573726,1.6770884 11.928549,3.1908437 6.5996633,10.233024 3.456054,14.719714 1.0118115,19.651456 1.2963624,26.319703 c 0.9022093,7.170462 3.9801795,12.382739 8.0138769,16.734861 3.1150347,2.984752 6.8685957,6.227605 9.7227187,8.779909 1.34619,1.430765 1.997047,1.568303 3.889087,4.24264 1.156208,1.890995 2.424441,3.66597 2.483249,4.302793" />
        <g transform="translate(30, 78)">
            <text id="arkeo-icon-letter">A</text>
        </g>
    </symbol>
</defs></svg>
-->
