<div layout>
    <md-content flex="50">
        <form>
            <!-- Select WMS or Shapefile -->
            <ark-form-block>
                <md-input-container>
                    <md-select name="type" ng-model="infos.type" placeholder="{{'MAPEDITOR.SELECT_SHP_OR_WMS.T_LABEL' | translate}}" required>
                        <md-option value="wms">
                            <span translate>MAPEDITOR.SELECT_SHP_OR_WMS.T_OPTION_WMS</span>
                        </md-option>
                        <md-option value="shp">
                            <span translate>MAPEDITOR.SELECT_SHP_OR_WMS.T_OPTION_SHP</span>
                        </md-option>
                    </md-select>
                </md-input-container>
            </ark-form-block>
            <!-- SHP URL -->
            <ark-form-block ng-hide="infos.type != 'shp'">
                <md-input-container style="width:98%">
                    <label>MAPEDITOR.FIELD_SHP_URL.T_LABEL</label>
                    <input type="text" ng-model="infos.shp_url" flex>
                </md-input-container>
            </ark-form-block>
            <!-- SHP FILE -->
            <ark-form-block ng-hide="infos.type != 'shp'">
                <md-button class="md-raised" ngf-select="uploadSHP(file)" ng-model="infos.shp_file" name="file" ngf-pattern="'.shp'" accept=".shp" ngf-max-size="10MB">
                    <span translate>MAPEDITOR.BUTTON_SHP_FILE.T_LABEL</span>
                </md-button>
                <md-progress-linear md-mode="determinate" value="{{uploadProgress}}" md-buffer-value="100" ng-hide="!file"></md-progress-linear>
            </ark-form-block>
            <!-- WMS URL -->
            <ark-form-block ng-hide="infos.type != 'wms'">
                <md-input-container style="width:98%">
                    <label>MAPEDITOR.FIELD_WMS_URL.T_LABEL</label>
                    <input type="text" ng-model="infos.shp_wms" flex>
                </md-input-container>
                <md-input-container>
                    <input type="button" ng-click="getCapabilities()" />
                </md-input-container>
            </ark-form-block>
            <!-- Dates -->
            <ark-form-block ng-hide="!isValid">
                <md-input-container flex="50">
                    <label translate>MAPEDITOR.FIELD_START_DATE.T_LABEL</label>
                    <input name="startDate" ng-model="infos.startDate" ark-year required="true">
                </md-input-container>
                <md-input-container flex="50">
                    <label translate>MAPEDITOR.FIELD_END_DATE.T_LABEL</label>
                    <input name="endDate" ng-model="infos.endDate" ark-year required="true"/>
                </md-input-container>
            </ark-form-block>
            <!-- Authors -->
            <ark-form-block ng-hide="!isValid">
                <md-chips ng-model="infos.authors" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" md-on-remove="removeAuthor($chip)">
                    <md-autocomplete md-search-text="userName" md-items="user in searchUser(userName)" md-item-text="user.fullname" placeholder="* {{ 'MAPEDITOR.FIELD_AUTHOR.T_LABEL' | translate}}">
                        <span md-highlight-text="userName">{{user.fullname}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <strong>{{$chip.fullname}}</strong>
                    </md-chip-template>
                </md-chips>
                <ark-help translate>MAPEDITOR.FIELD_AUTHOR.T_HELP</ark-help>
            </ark-form-block>
        </form>
    </md-content>
    <md-content flex="50">
        <leaflet controls="controls" defaults="defaults" layers="layers" flex height="400px" lf-center="center" width="100%"></leaflet>
    </md-content>
</div>
{{infos}}
