    <md-content layout-padding>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
            <div class="md-toolbar-tools">
                <h2 class="md-title" translate>MAPEDITOR.TABLE_LIST.T_TITLE</h2>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="filter.show = true">
                    <md-tooltip md-direction="left">
                      <div translate>MAPEDITOR.TABLE_LIST.T_FILTER_RESULTS_LABEL</div>
                    </md-tooltip>
                    <i class="material-icons md-dark">filter_list</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
            <div class="md-toolbar-tools">
                <i class="material-icons md-dark">search</i>
                <form flex name="filter.form" style="margin: 39px 0 0 15px;">
                    <ark-form-block>
                        <md-input-container>
                            <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
                        </md-input-container>
                        <ark-help translate>MAPEDITOR.TABLE_LIST.T_HELP_FILTER_RESULTS</ark-help>
                    </ark-form-block>
                </form>
                <md-button class="md-icon-button" ng-click="removeFilter()">
                    <i class="material-icons md-dark">close</i>
                </md-button>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order" md-trigger="onOrderChange">
                    <tr md-row>
                        <th md-column md-order-by="line"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_CREATION_DATE</span></th>
                        <th md-column md-order-by="created_at"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_AUTHOR</span></th>
                        <th md-column md-numeric md-order-by="start_date"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_START_DATE</span></th>
                        <th md-column md-numeric md-order-by="end_date"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_END_DATE</span></th>
                        <th md-column md-order-by="zoom_level"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_ZOOM_LEVEL</span></th>
                        <th md-column md-order-by="type"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_TYPE</span></th>
                        <th md-column md-order-by="description"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_DESCRIPTION</span></th>
                        <th md-column md-order-by="published"><span translate>MAPEDITOR.TABLE_LIST.T_LABEL_PUBLISHED</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-auto-select ng-click="edit(layer.type, layer.id)" ng-repeat="layer in mapLayers | filter:query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit" style="cursor: pointer">
                        <td md-cell>{{layer.created_at | date:'short'}}</td>
                        <td md-cell>{{layer.author}}</td>
                        <td md-cell>{{layer.start_date}}</td>
                        <td md-cell>{{layer.end_date}}</td>
                        <td md-cell>{{layer.zoom_level}}</td>
                        <td md-cell>{{layer.type}}</td>
                        <td md-cell>{{layer.description}}</td>
                        <td md-cell>
                            <md-icon ng-show="{{layer.published}}">done</md-icon>
                            <md-icon ng-hide="{{layer.published}}">clear</md-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{mapLayers.length}}"
        md-row-select="query.numRows" md-page-select></md-table-pagination>
    </md-content>
