<md-dialog style="min-width: 80%">
    <md-dialog-header layout-padding layout>
        <div flex="35">
            <div>
                <span class="name" style="font-size: 1.5em; font-weight: bold; #color: 555">{{site.properties.infos.name}}</span>
                <span class="code">({{site.properties.infos.code}})</span>
            </div>
            <div layout="row" style="font-size: 0.8em">
                <label>
                    <span translate>SITE_DETAILS.FIELD_DATABASE.T_LABEL_SHORT</span>:</label>
                <div class="name">{{site.properties.infos.database_name}}</div>
            </div>
            <div layout="row" style="font-size: 0.8em">
                <label>
                    <span translate>SITE_DETAILS.FIELD_Authors.T_LABEL</span>:</label>
                <div class="name">
                    <span ng-repeat="author in site.properties.infos.authors">{{author.fullname}}</span>
                </div>
            </div>
        </div>
        <div flex="25" class="period" layout="column" layout-align="center end">
            <div translate>SITE_DETAILS.FIELD_STARTING_PERIOD.T_LABEL</div>
            <div>{{site.properties.infos.starting_period.dates}}</div>
            <div>
                <span>{{site.properties.infos.ending_period.label}}</span>
            </div>
        </div>
        <div flex="25" class="period" layout="column" layout-align="center start">
            <div translate>SITE_DETAILS.FIELD_ENDING_PERIOD.T_LABEL</div>
            <div>{{site.properties.infos.ending_period.dates}}</div>
            <div>
                <span style="background-color:#f1ac06">{{site.properties.infos.ending_period.label}}</span>
            </div>
        </div>
        <div flex="25"></div>
    </md-dialog-header>

    <md-dialog-content>
        <div layout="column" style="background: #f0f0f0" layout-padding>
            <md-card flex layout-padding>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_ENDING_COORDINATES.T_LABEL</span>:</label>
                    <div>{{site.geometry.coordinates[0]}}
                        {{site.geometry.coordinates[0]}}</div>
                    <div class="altitude" ng-show="site.properties.infos.altitude != -999999">
                        <label>
                            <span translate>SITE_DETAILS.FIELD_ENDING_PERIOD.T_LABEL</span>:</label>
                        <span>{{site.properties.infos.altitude}}</span>
                    </div>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_CITY_NAME.T_LABEL</span>:</label>
                    <div>{{site.properties.infos.city_name}}</div>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_ACCURACY.T_LABEL</span>:</label>
                    <div ng-show="site.properties.infos.centroid">
                        <span translate>SITE_DETAILS.FIELD_ACCURACY_CENTROID.T_LABEL</span>:</div>
                    <div ng-hide="site.properties.infos.centroid">
                        <span translate>SITE_DETAILS.FIELD_ACCURACY_FINE.T_LABEL</span>:</div>
                    <span class="geonameid" ng-show="site.properties.infos.city_geonameid">
                        <a href="http://www.geonames.org/2992166" title="geonames.org" target="_blank">{{site.properties.infos.city_geonameid}}</a>
                    </span>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_OCCUPATION.T_LABEL</span>:</label>
                    <div>{{site.properties.infos.occupation}}</div>
                </div>
            </md-card>
        </div>

        <div layout="column" layout-padding class="section" ng-repeat="srange in site.properties.site_ranges">
            <md-card flex layout-padding>
                <md-toolbar class="md-hue-2">
                    <div class="name">
                        -450 -> -300 à 200 -> 2000
                        <span translate>SITE_DETAILS.SITE_RANGE_START_DATE.T_LABEL</span>:
                        <span>{{srange.start_date1}}
                            :
                            {{srange.start_date2}}</span>
                        <span translate>SITE_DETAILS.SITE_RANGE_TO.T_LABEL</span>:
                        <span translate>SITE_DETAILS.SITE_RANGE_END_DATE.T_LABEL</span>:
                        <span>{{srange.end_date1}}
                            :
                            {{srange.end_date2}}</span>
                    </div>
                    <!-- <div class="exceptional">Site exceptionnel</div> -->
                </md-toolbar>
                <div ng-repeat="charac_section in srange.characs_sections">
                    <md-toolbar style="min-height: 40px">
                        {{charac_section.name}}
                    </md-toolbar>
                    <section ng-repeat="charac in charac_section.characs">
                        <h4>charac.name</h4>
                        <div class="info" layout="row">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_KNOWLEGDE_TYPE.T_LABEL</span>:</label>
                            <div>{{charac.knowledge_type}}</div>
                        </div>
                        <div class="info" layout="row" ng-hide="hideComments">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_COMMENT.T_LABEL</span>:</label>
                            <div>{{charac.comment}}</div>
                        </div>
                        <div class="info" layout="row" ng-hide="hideComments">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_BIBLIOGRAPHY_LABEL</span>:</label>
                            <div>{{charac.bibliography}}</div>
                        </div>
                    </section>
                    <md-divider></md-divider>
                    <div class="comments">
                        <a ng-click="hideComments = !hideComments" ng-hide="hideComments">Masquer descriptions et commentaires</a>
                        <a ng-click="hideComments = !hideComments" ng-show="hideComments">Montrer descriptions et commentaires</a>
                    </div>
                </md-card>
            </div>

        </md-dialog-content>
    </md-dialog>
