<md-dialog style="min-width: 80%">
    <md-dialog-header layout-padding layout>
        <div flex="35">
            <div>
                <span class="name" style="font-size: 1.5em; font-weight: bold; #color: 555">{{site.properties.infos.name}}</span>
                <span class="code">({{site.properties.infos.code}})</span>
            </div>
            <div layout="row" style="font-size: 0.8em">
                <label>
                    <span translate>SITE_DETAILS.FIELD_DATABASE.T_LABEL_SHORT</span>:</label>
                <div class="name">{{site.properties.infos.database_name}}</div>
            </div>
            <div layout="row" style="font-size: 0.8em">
                <label>
                    <span translate>SITE_DETAILS.FIELD_AUTHORS.T_LABEL</span>:</label>
                <div class="name">
                    <span ng-repeat="author in site.properties.infos.authors">{{author.fullname}}</span>
                </div>
            </div>
        </div>
        <div flex="25" class="period" layout="column" layout-align="center end">
            <div translate>SITE_DETAILS.FIELD_STARTING_PERIOD.T_LABEL</div>
            <div><span ng-class="{undefinedPeriod: site.properties.infos.startingPeriod.isUndefined}">{{site.properties.infos.startingPeriod.startDate | arkYear}}</span><span ng-hide="site.properties.infos.startingPeriod.startDate == site.properties.infos.startingPeriod.endDate || (site.properties.infos.startingPeriod.startDate == -2147483648 && site.properties.infos.startingPeriod.endDate == 2147483647)"> : {{site.properties.infos.startingPeriod.endDate | arkYear}}</span></div>
            <div ng-show="site.properties.infos.startingPeriod.name">
                <span style="background-color:#{{site.properties.infos.startingPeriod.color}}"><span ark-get-translation>{{site.properties.infos.startingPeriod.name}}</span></span>
            </div>
        </div>
        <div flex="25" class="period" layout="column" layout-align="center start">
            <div translate>SITE_DETAILS.FIELD_ENDING_PERIOD.T_LABEL</div>
            <div><span ng-class="{undefinedPeriod: site.properties.infos.endingPeriod.isUndefined}">{{site.properties.infos.endingPeriod.startDate | arkYear}}</span><span ng-hide="site.properties.infos.endingPeriod.startDate == site.properties.infos.endingPeriod.endDate || (site.properties.infos.endingPeriod.startDate == -2147483648 && site.properties.infos.endingPeriod.endDate == 2147483647)"> : {{site.properties.infos.endingPeriod.endDate | arkYear}}</span></div>
            <div ng-show="site.properties.infos.endingPeriod.name">
                <span style="background-color:#{{site.properties.infos.endingPeriod.color}}"><span ark-get-translation>{{site.properties.infos.endingPeriod.name}}</span></span>
            </div>
        </div>
        <div flex></div>
        <button class="md-icon-button md-button md-ink-ripple" style="margin-right:0" type="button" ng-click="hide()"><md-icon style="color: #888;">close</md-icon></button>
    </md-dialog-header>
    <md-dialog-content>
        <div layout="column" style="background: #f0f0f0" layout-padding>
            <md-card flex layout-padding>
                <div layout="row">
                    <div>
                      <label>
                          <span translate>SITE_DETAILS.FIELD_LATITUDE.T_LABEL</span>:</label>
                          <span>{site.geometry.coordinates[1]}}</span>
                    </div>
                    <div style="width:20px"></div>
                    <div>
                      <label>
                          <span translate>SITE_DETAILS.FIELD_LONGITUDE.T_LABEL</span>:</label>
                          <span>{site.geometry.coordinates[0]}}</span>
                    </div>
                    <div class="altitude" ng-show="site.properties.infos.altitude != -999999">
                        <label>
                            <span translate>SITE_DETAILS.FIELD_ALTITUDE.T_LABEL</span>:</label>
                        <span>{{site.properties.infos.altitude}}</span>
                    </div>
                </div>
                <div layout="row" ng-show="site.properties.infos.city_name">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_CITY_NAME.T_LABEL</span>:</label>
                    <div>{{site.properties.infos.city_name}}</div>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_ACCURACY.T_LABEL</span>:</label>
                    <div ng-show="site.properties.infos.centroid">
                        <span translate>SITE_DETAILS.FIELD_ACCURACY_CENTROID.T_LABEL</span></div>
                    <div ng-hide="site.properties.infos.centroid">
                        <span translate>SITE_DETAILS.FIELD_ACCURACY_FINE.T_LABEL</span></div>
                    <span class="geonameid" ng-show="site.properties.infos.city_geonameid">
                        <a href="http://www.geonames.org/2992166" title="geonames.org" target="_blank">{{site.properties.infos.city_geonameid}}</a>
                    </span>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_OCCUPATION.T_LABEL</span>:</label>
                    <div>{{databaseDefinitions[site.properties.infos.occupation]}}</div>
                </div>
                <div layout="row">
                    <label>
                        <span translate>SITE_DETAILS.FIELD_CREATION_DATE.T_LABEL</span>:</label>
                    <div>{{site.properties.infos.created_at | date:'short'}}</div>
                </div>
            </md-card>
        </div>

        <div layout="column" layout-padding class="section" ng-repeat="srange in site.properties.site_ranges">
            <md-card flex>
                <md-toolbar class="md-hue-1" layout-padding>
                    <div class="name">
                        <span translate>SITE_DETAILS.SITE_RANGE_STARTING_PERIOD.T_LABEL</span>:
                        <span>{{srange.start_date1 | arkYear}}
                            /
                            {{srange.start_date2 | arkYear}}</span>
                        <span translate>SITE_DETAILS.SITE_RANGE_TO.T_LABEL</span>&nbsp;
                        <span translate>SITE_DETAILS.SITE_RANGE_ENDING_PERIOD.T_LABEL</span>:
                        <span>{{srange.end_date1 | arkYear}}
                            /
                            {{srange.end_date2 | arkYear}}</span>
                    </div>
                    <div class="exceptional" ng-show="site.properties.infos.exceptional"><span translate>SITE_DETAILS.FIELD_EXCEPTIONAL.T_EXCEPTIONAL_SITE</span></div>
                </md-toolbar>
                <div ng-repeat="charac_section in srange.charac_sections">
                    <md-toolbar style="min-height: 40px" layout-padding class="md-hue-3">
                        {{charac_section.name}}
                    </md-toolbar>
                    <section ng-repeat="scharac in charac_section.characs" layout-padding>
                        <h4>{{scharac.path}}</h4>
                        <div class="info" layout="row">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_KNOWLEGDE_TYPE.T_LABEL</span>:
                            </label>
                            <div>{{databaseDefinitions[scharac.knowledge_type]}}</div>
                        </div>
                        <div class="info" layout="row" ng-show="scharac.exceptional">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_EXCEPTIONAL.T_LABEL</span>:
                            </label>
                            <div translate>SITE_DETAILS.CHARAC_EXCEPTIONAL.T_YES</div>
                        </div>
                        <div class="info" layout="row" ng-show="!hideComments && scharac.comment">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_COMMENT.T_LABEL</span>:
                            </label>
                            <div>{{scharac.comment}}</div>
                        </div>
                        <div class="info" layout="row" ng-show="!hideComments && scharac.bibliography">
                            <label>
                                <span translate>SITE_DETAILS.CHARAC_BIBLIOGRAPHY.T_LABEL</span>:
                            </label>
                            <div>{{scharac.bibliography}}</div>
                        </div>
                        <md-divider ng-hide="$last"></md-divider>
                    </section>
                </md-card>
            </div>
        </div>
        </md-dialog-content>
        <md-dialog-actions class="comments-toggler">
            <a ng-click="hideComments = !hideComments" ng-hide="hideComments"><span translate>SITE_DETAILS.INTERFACE_HIDE_DESCRIPTIONS_AND_LABELS.T_LABEL</span></a>
            <a ng-click="hideComments = !hideComments" ng-show="hideComments"><span translate>SITE_DETAILS.INTERFACE_SHOW_DESCRIPTIONS_AND_LABELS.T_LABEL</span></a>
        </md-dialog-actions>
    </md-dialog>
