<md-tabs class="md-hue-3 md-primary" md-selected="tabs.selectedIndex" md-center-tabs>
    <md-tab ui-sref="import.step1">
      <md-tab-label>
        <span>Step 1</span>
      </md-tab-label>
    </md-tab>
    <md-tab ui-sref="import.step2" ng-disabled="!tabs.enabled[2]">
      <md-tab-label>
        <span>Step 2</span>
      </md-tab-label>
    </md-tab>
    <md-tab ui-sref="import.step3" ng-disabled="!tabs.enabled[3]">
      <md-tab-label>
        <span>Step 3</span>
      </md-tab-label>
    </md-tab>
    <md-tab ui-sref="import.step4" ng-disabled="!tabs.enabled[4]">
      <md-tab-label>
        <span>Step 4</span>
      </md-tab-label>
    </md-tab>
</md-tabs>
<div class="import page-container">
		<ui-view></ui-view>
</div>
