<div class="step2" layout layout-md="column" layout-sm="column" flex>
    <md-card layout layout-md="column" layout-sm="column" flex="50" flex-md="100" flex-sm="100">
        <div flex="40">
            <nvd3 class="nvd3Chart" options="nvd3Options" data="nvd3Datas"></nvd3>
        </div>
        <div class="legend" layout-padding flex layout-align="start center">
            <div class="l" ng-hide="nbSitesOK < 0">
                <div><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NB_OF_LINES</span>: <span class="b">{{nbLines}}</span>
                </div>
                <ark-help translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NOT_FIRST_LINE</ark-help>
            </div>
            <div class="l" ng-hide="nbSitesOK < 0">
                <div><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NB_DETECTED_SITES</span>: <span class="b">{{nbSites}}</span></div>
                <ark-help translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_NB_DETECTED_SITES</ark-help>
            </div>
            <div class="l" ng-hide="nbSitesOK < 0">
                <div><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NB_VALID_SITES</span>: <span class="b ok">{{nbSitesOK}}</span>
                </div>
                <ark-help translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_NB_VALID_SITES</ark-help>
            </div>
            <div class="l" ng-hide="nbSitesOK < 0">
                <div><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NB_SITES_WITH_ERROR</span>: <span class="b nok">{{nbSitesNOK}}</span>
                </div>
                <ark-help translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_NB_SITES_WITH_ERROR</ark-help>
            </div>
            <div class="l">
                <div><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NB_ERRORS_TOTAL</span>: <span class="b">{{nbErrors}}</span>
                </div>
                <ark-help translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_NB_ERRORS_TOTAL</ark-help>
            </div>
        </div>
    </md-card>
    <div class="actions" layout="column" flex>
        <md-card flex ng-hide="nbErrors > 0">
            <div>
                <h3 translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_IMPORT_SUCCESS</h3>
                <div layout-padding>
                    <a ui-sref="import.step3" translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_NEXT_STEP</a>
                </div>
                <ark-help hide-sm translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_ACCESS_TO_PUBLICATION</ark-help>
            </div>
        </md-card>
        <md-card flex ng-hide="nbErrors == 0">
            <h3 translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_IMPORT_ANOTHER_FILE</h3>
            <div layout layout-sm="column" layout-padding>
                <md-button class="md-primary md-raised" ngf-select="uploadCSV(file)" ng-model="file"
                name="file" ngf-pattern="'.csv,.txt'" accept=".csv,.txt" ngf-max-size="100MB"><span translate>IMPORT_STEP2.REPORT_BLOCKS.T_BUTTON_CHOOSE_FILE</span></md-button>
            </div>
            <md-progress-linear md-mode="determinate" value="{{uploadProgress}}" md-buffer-value="100"
            ng-hide="!file"></md-progress-linear>
            <ark-help hide-sm translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_IMPORT_ANOTHER_FILE</ark-help>
        </md-card>
        <md-card flex>
            <h3 translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_MODIFY_IMPORT_OPTIONS</h3>
            <div layout-padding>
                <a ui-sref="import.step1" translate>IMPORT_STEP2.REPORT_BLOCKS.T_LABEL_PREVIOUS_STEP</a>
            </div>
            <ark-help hide-sm translate>IMPORT_STEP2.REPORT_BLOCKS.T_HELP_MODIFY_IMPORT_OPTIONS</ark-help>
        </md-card>
    </div>
</div>

<div ng-hide="nbErrors == 0 && nbSitesOK > 0">
    <md-content layout-padding>
        <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
            <div class="md-toolbar-tools">
                <h2 class="md-title" translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_REPORT</h2>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="filter.show = true">
                    <md-tooltip md-direction="left">
                      <div translate>IMPORT_STEP2.REPORT_TABLE.FILTER_RESULTS</div>
                    </md-tooltip>
                    <i class="material-icons md-dark">filter_list</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
            <div class="md-toolbar-tools">
                <i class="material-icons md-dark">search</i>
                <form flex name="filter.form" style="margin: 39px 0 0 15px;">
                    <ark-form-block>
                        <md-input-container>
                            <input type="text" ng-model="query.filter" ng-model-options="filter.options" placeholder="search">
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP2.REPORT_TABLE.T_HELP_FILTER_RESULTS</ark-help>
                    </ark-form-block>
                </form>
                <md-button class="md-icon-button" ng-click="removeFilter()">
                    <i class="material-icons md-dark">close</i>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order" md-trigger="onOrderChange">
                    <tr md-row>
                        <th md-column md-numeric md-order-by="line"><span translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_LINE</span></th>
                        <th md-column md-order-by="siteCode"><span translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_SITE_CODE</span></th>
                        <th md-column md-order-by="columns"><span translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_COLUMN</span></th>
                        <th md-column md-order-by="value"><span translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_VALUE</span></th>
                        <th md-column md-order-by="errMsg"><span translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_ERROR_MESSAGE</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-auto-select ng-repeat="error in importErrors.data | filter:query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                        <td md-cell>{{error.line}}</td>
                        <td md-cell>
                            {{error.siteCode}}
                        </td md-cell>
                        <td md-cell>{{error.columns|join}}</td>
                        <td md-cell>{{error.value}}</td>
                        <td md-cell>{{error.errMsg}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{importErrors.total}}"
        md-row-select="query.numRows" md-page-select></md-table-pagination>
    </md-content>
</div>
<md-content ng-hide="nbErrors > 0" class="md-headline" layout-padding style="min-height: 100px; text-align: center; padding-top: 40px" translate>IMPORT_STEP2.REPORT_TABLE.T_LABEL_NO_ERROR</md-content>
