<div class="step3" flex>
    <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
        <md-card-content>
            <p>
              <span translate>IMPORT_STEP3.INFOS.T_LINE1</span>
              <b translate>IMPORT_STEP3.INFOS.T_LINE2</b>
            </p>
            <p translate>IMPORT_STEP3.INFOS.T_LINE3</p>
        </md-card-content>
    </md-card>
    <div class="layout-padding">
		<h1 class="md-display-1"><span translate>IMPORT_STEP3.FORM.T_TITLE</span> "{{database.name}}"</h1>
        <form name="publicationForm" class="md-padding">
            <md-content layout="column" layout-gt-sm="row">
                <!-- left block -->
                <div class="md-padding" flex>
                    <!-- Authors -->
                    <ark-form-block>
                        <md-chips ng-model="database.authors" md-autocomplete-snap md-require-match="true"
                        md-allow-repeats="false">
                            <md-autocomplete md-search-text="userName" md-items="user in searchUser(userName)"
                            md-item-text="user.fullname" placeholder="* {{ 'IMPORT_STEP3.FIELD_AUTHOR.T_LABEL' | translate}}">
                                <span md-highlight-text="userName">{{user.fullname}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <strong>{{$chip.fullname}}</strong>
                            </md-chip-template>
                        </md-chips>
                        <ark-help translate>IMPORT_STEP3.FIELD_AUTHOR.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Creation date -->
                    <ark-form-block>
                        <md-datepicker ng-model="database.creation_date" md-placeholder="* {{ 'IMPORT_STEP3.FIELD_CREATION_DATE.T_LABEL' | translate}}" ng-required></md-datepicker>
                        <ark-help translate>IMPORT_STEP3.FIELD_CREATION_DATE.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- License -->
                    <ark-form-block>
                        <md-input-container>
                            <label>* <span translate>IMPORT_STEP3.FIELD_LICENSE.T_LABEL</span></label>
                            <md-select name="license_id" ng-model="database.license_id" ng-init="loadLicenses()"
                            required>
                                <md-option ng-value="license.id" ng-repeat="license in licenses">{{license.name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_LICENSE.T_HELP</ark-help>
                    </ark-form-block>
                    <ark-form-block>
                        <!-- Subject / Keywords -->
                        <md-input-container>
                            <label>* <span translate>IMPORT_STEP3.FIELD_SUBJECT.T_LABEL</span></label>
                            <input name="subject" ng-model="database.subject" required>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_SUBJECT.T_HELP</ark-help>
                    </ark-form-block>
                </div>
                <!-- right block -->
                <div class="md-padding" flex-offset-gt-md="5" flex>
                    <!-- Type -->
                    <ark-form-block>
                        <md-input-container>
                            <label>* <span translate>IMPORT_STEP3.FIELD_TYPE.T_LABEL</span></label>
                            <md-select name="type" ng-model="database.type"
                                required>
                                <md-option ng-value="type.id" ng-repeat="type in definitions.types">{{type.tr | translate}}</md-option>
                                <!--
                                <md-option ng-value="type.id" ng-repeat="type in [
                                    {tr : 'DATABASE.TYPE_INVENTORY.T_TITLE', id: 'inventory'},
                                    {tr : 'DATABASE.TYPE_RESEARCH.T_TITLE', id: 'research'},
                                    {tr : 'DATABASE.TYPE_LITERARYWORK.T_TITLE', id: 'literary-work'}
                                    ]">{{type.tr | translate}}</md-option>
                                -->
                            </md-select>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_TYPE.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Context -->
                    <ark-form-block>
                        <md-chips ng-model="database.contexts" md-autocomplete-snap md-require-match="true"
                        md-allow-repeats="false" required>
                            <md-autocomplete md-search-text="searchText" md-items="context in searchContext(searchText)"
                            md-item-text="context.label" placeholder="{{ 'IMPORT_STEP3.FIELD_CONTEXT.T_LABEL' | translate}}">
                                <span md-highlight-text="searchText">{{context.label}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <strong disabled="disabled">{{$chip.label}}</strong>
                            </md-chip-template>
                        </md-chips>
                        <ark-help translate>IMPORT_STEP3.FIELD_CONTEXT.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Scale resolution -->
                    <ark-form-block>
                        <md-input-container>
                            <label>* <span translate>IMPORT_STEP3.FIELD_SCALE_RESOLUTION.T_LABEL</span></label>
                            <md-select name="scale" ng-model="database.scale"
                            required>
                                <md-option ng-value="scaleResolution.id" ng-repeat="scaleResolution in definitions.scaleResolutions">{{scaleResolution.tr | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_SCALE_RESOLUTION.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- State -->
                    <ark-form-block>
                        <md-input-container>
                            <label>* <span translate>IMPORT_STEP3.FIELD_STATE.T_LABEL</span></label>
                            <md-select name="state" ng-model="database.state"
                            required>
                                <md-option ng-value="state.id" ng-repeat="state in definitions.states">{{state.tr | translate}}</md-option>
                            </md-select>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_STATE.T_HELP</ark-help>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Description blocks -->
            <md-content layout="column" layout-gt-sm="row" class="description-blocks">
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container>
                            <textarea ng-model="database.description.lang1.value" placeholder="{{ 'IMPORT_STEP3.FIELD_DESCRIPTION_LANG1.T_LABEL' | translate}}"
                            md-no-autogrow="true" style="height: 100px" required></textarea>
                        </md-input-container>
                    </ark-form-block>
                </div>
                <div class="md-padding" flex-offset-gt-md="5" flex>
                    <ark-form-block>
                        <md-input-container>
                            <textarea ng-model="database.description.lang2.value" columns="3" rows="5"
                            placeholder="{{ 'IMPORT_STEP3.FIELD_DESCRIPTION_LANG2.T_LABEL' | translate}}" md-no-autogrow="true"
                            style="min-height: 100px" required></textarea>
                        </md-input-container>
                    </ark-form-block>
                </div>
            </md-content>
			<!-- Actions -->
			<md-content layout layout-sm="column" layout-padding layout-align="center center">
					<md-button class="md-primary md-raised" ng-disabled="publicationForm.$valid" ui-sref="import.step4"><span translate>IMPORT_STEP3.FORM.T_BUTTON_SUBMIT</span></md-button>
					<md-button class="md-raised md-hue-1" ui-sref="import.step2"><span translate>IMPORT_STEP3.FORM.T_BUTTON_BACK</span></md-button>
			<md-content>
        </form>
    </div>
</div>
