<div layout layout-md="column" layout-sm="column">
  <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
    <md-card-content translate></md-card-content>
    <p translate>IMPORT_STEP1.INFOS.T_LINE1</p>
    <p translate>IMPORT_STEP1.INFOS.T_LINE2</p>
    <p translate>IMPORT_STEP1.INFOS.T_LINE3</p>
    <div class="md-actions" layout layout-align="end center">
      <md-button ng-click="userPreferences.hideIntro = true">Hide</md-button>
    </div>
  </md-card>
  <md-card flex>
    <md-card-content>
      <div ng-hide="userPreferences.conditionsAccepted">
        <p translate>IMPORT_STEP1.CONDITIONS.T_LINE1</p>
        <p translate>IMPORT_STEP1.CONDITIONS.T_LINE2</p>
      </div>
      <md-checkbox ng-model="userPreferences.conditionsAccepted" aria-label="."></md-checkbox>
      <md-checkbox ng-model="userPreferences.saveConditionsAccepted" aria-label="." ng-hide="!userPreferences.conditionsAccepted" translate>IMPORT_STEP1.CONDITIONS.T_BUTTON_SAVE_CHOICES</md-checkbox>
    </md-card-content>
  </md-card>
</div>
<div class="animate-hide" ng-hide="!userPreferences.conditionsAccepted">
  <md-content class="main-md-content md-padding">
    <h1 class="md-display-1"><span translate>IMPORT_STEP1.TITLE.T_IMPORT_YOUR_DB</span> <span translate>IMPORT_STEP1.TITLE.T_BY</span> {{user.firstname}} {{user.lastname}}</h1>
    <form name="importForm" class="md-padding" layout="column">
      <!-- test beve -->
      <ark-form-block>
          <md-input-container>
              <ark-lang-selector ng-model="myTransLang1" ark-set-as-translation-lang="1" ng-disabled="false" ark-langs-disabled="['es']" ark-hide="['de']" ark-flags="true"></ark-lang-selector>
          </md-input-container>
          <md-input-container>
              <textarea ng-model="trans1" ark-translations="database.translations.description" ark-translate ark-translate-bind-lang="1" aria-label="-"></textarea>
          </md-input-container>
          <md-input-container>
              <input ng-model="trans2" ark-translations="database.translations.bibliography" ark-translate ark-translate-bind-lang="1" aria-label="-"></input>
          </md-input-container>
      </ark-form-block>
      <!-- Database name -->
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_DATABASE_NAME.T_LABEL</label>
          <input name="name" ng-minlength="3" ng-maxlength="30" ng-model="database.infos.name" required></input>
          <div ng-messages="importForm.databaseName.$error">
            <div ng-message="minlength" translate>IMPORT_STEP1.FIELD_DATABASE_NAME.T_ERROR_MIN_LEN</div>
            <div ng-message="maxlength" translate>IMPORT_STEP1.FIELD_DATABASE_NAME.T_ERROR_MAX_LEN</div>
            <div ng-message="required">IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
      </ark-form-block>
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_LANG.T_LABEL</label>
          <ark-lang-selector ng-model="database.infos.default_language" ark-flags="true"></ark-lang-selector>
        </md-input-container>
        <ark-help flex translate>IMPORT_STEP1.FIELD_LANG.T_HELP</ark-help>
      </ark-form-block>
      <!-- Geographical extent main container -->
      <ark-form-block>
        <!-- <div layout="column" layout-gt-xs="row"> -->
          <!-- Geographical extent -->
          <md-input-container>
            <label translate>IMPORT_STEP1.FIELD_GEO_EXTENT.T_LABEL</label>
            <md-select name="geographical_extent" ng-model="database.infos.geographical_extent" ng-change="database.countries = [];database.continents = []" required >
              <md-option value="{{geoex.id}}" ng-repeat="geoex in definitions.geographicalExtents" translate>{{geoex.tr}}</md-option>
            </md-select>
          </md-input-container>
          <!-- Country -->
          <div ng-hide="database.infos.geographical_extent != 'country'" flex>
            <md-chips ng-model="database.countries" md-autocomplete-snap md-require-match="true" md-allow-repeats="false">
              <md-autocomplete md-search-text="searchText" md-items="item in countrySearch(searchText)" md-item-text="item.name" placeholder="* Enter country name">
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-autocomplete>
              <md-chip-template>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.geonameid}})</em>
              </md-chip-template>
            </md-chips>
          </div>
          <!-- Continent -->
          <div ng-hide="database.infos.geographical_extent != 'continent'" flex>
            <md-chips ng-model="database.continents" md-autocomplete-snap md-require-match="true" md-allow-repeats="false">
              <md-autocomplete md-search-text="searchText" md-items="item in continentSearch(searchText)" md-item-text="item.name" placeholder="* Enter continent name">
                <span md-highlight-text="searchText">{{item.name}}</span>
              </md-autocomplete>
              <md-chip-template>
                <strong>{{$chip.name}}</strong>
                <em>({{$chip.geonameid}})</em>
              </md-chip-template>
            </md-chips>
          </div>
        <!-- </div> -->
      </ark-form-block>
      <!-- Use Geonames -->
      <ark-form-block>
        <md-switch aria-label="Use geonames" ng-model="importChoices.UseGeonames" style="margin: 15px 0 25px 0"><span translate>IMPORT_STEP1.FIELD_GEONAMES.T_LABEL</span></md-switch>
        <ark-help flex translate>IMPORT_STEP1.FIELD_GEONAMES.T_HELP</ark-help>
      </ark-form-block>
      <!-- Separator -->
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_SEPARATOR.T_LABEL</label>
          <input name="separator" ng-maxlength="1" ng-model="importChoices.Separator" required></input>
          <div ng-messages="importForm.separator.$error">
            <div ng-message="maxlength" translate>IMPORT_STEP1.FIELD_SEPARATOR.T_ERROR_LEN</div>
            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
        <ark-help ng-hide="importForm.separator.$error.required" flex translate>IMPORT_STEP1.FIELD_SEPARATOR.T_HELP</ark-help>
      </ark-form-block>
      <!-- Echap characters -->
      <ark-form-block>
        <md-input-container>
          <label translate>IMPORT_STEP1.FIELD_ECHAP_CHARACTER.T_LABEL</label>
          <input name="echap_character" ng-maxlength="1" ng-model="importChoices.EchapCharacter" required></input>
          <div ng-messages="importForm.echap_character.$error">
            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
          </div>
        </md-input-container>
      </ark-form-block>
      <!-- Upload -->
      <div layout layout-sm="column">
        <md-button class="md-primary md-raised" ng-disabled="!importForm.$valid" ngf-select="uploadCSV(file)" ng-model="file" name="file" ngf-pattern="'.csv,.txt'" accept=".csv,.txt" ngf-max-size="100MB"><span translate>IMPORT_STEP1.FORM.T_SUBMIT</span></md-button>
        <md-button class="md-raised md-hue-1" ng-click="reset()"><span translate>IMPORT_STEP1.FORM.T_RESET</span></md-button>
      </div>
      <md-progress-linear md-mode="determinate" value="{{uploadProgress}}" md-buffer-value="100" ng-hide="!file"></md-progress-linear>
      <ark-help hide-sm translate>IMPORT_STEP1.FORM.T_HELP</ark-help>
    </form>
  </md-content>
</div>
<div style="margin: 20px 10px">
  {{database}}
</div>
