<div class="step3" flex>
    <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
        <md-card-content>
            <p>
                <span translate>IMPORT_STEP3.INFOS.T_LINE1</span>
                <b translate>IMPORT_STEP3.INFOS.T_LINE2</b>
            </p>
            <p translate>IMPORT_STEP3.INFOS.T_LINE3</p>
        </md-card-content>
    </md-card>
    <div class="layout-padding">
        <h1 class="md-display-1">
            <span translate>IMPORT_STEP3.FORM.T_TITLE</span>
            "{{database.name}}"
            <span translate>IMPORT_STEP1.TITLE.T_BY</span>
            {{user.firstname}}
            {{user.lastname}}</h1>
        <form name="publicationForm" class="md-padding" ng-submit="submit(this.publicationForm)" novalidate>
            <md-content layout="column" layout-gt-sm="row">
                <!-- left block -->
                <div class="md-padding" flex>
                    <!-- Authors -->
                    <ark-form-block>
                        <md-chips ng-model="database.authors" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" md-on-remove="removeAuthor($chip)">
                            <md-autocomplete md-search-text="userName" md-items="user in searchUser(userName)" md-item-text="user.fullname" placeholder="* {{ 'IMPORT_STEP3.FIELD_AUTHOR.T_LABEL' | translate}}">
                                <span md-highlight-text="userName">{{user.fullname}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <strong>{{$chip.fullname}}</strong>
                            </md-chip-template>
                        </md-chips>
                        <ark-help translate>IMPORT_STEP3.FIELD_AUTHOR.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Creation date -->
                    <ark-form-block>
                        <md-datepicker name="declared_creation_date" ng-model="database.declared_creation_date" md-placeholder="* {{ 'IMPORT_STEP3.FIELD_CREATION_DATE.T_LABEL' | translate}}" ng-required flex></md-datepicker>
                        <ark-help translate>IMPORT_STEP3.FIELD_CREATION_DATE.T_HELP</ark-help>
                        <div ng-messages="publicationForm.declared_creation_date.$error">
                            <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                        </div>
                    </ark-form-block>
                    <!-- License -->
                    <ark-form-block>
                        <md-input-container>
                            <md-select name="license_id" ng-model="database.license_id" ng-init="loadLicenses()" placeholder="* {{'IMPORT_STEP3.FIELD_LICENSE.T_LABEL' | translate}}" required="true">
                                <md-option ng-value="license.id" ng-repeat="license in licenses">{{license.name}}</md-option>
                            </md-select>
                            <div ng-messages="publicationForm.license_id.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_LICENSE.T_HELP</ark-help>
                    </ark-form-block>
                    <ark-form-block>
                        <!-- Re_use -->
                        <md-input-container>
                            <label>*
                                <span translate>IMPORT_STEP3.FIELD_RE_USE.T_LABEL</span>
                            </label>
                            <input name="subject" ng-model="database.re_use">
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_RE_USE.T_HELP</ark-help>
                    </ark-form-block>
                    <ark-form-block>
                        <!-- Subject / Keywords -->
                        <md-input-container>
                            <label>*
                                <span translate>IMPORT_STEP3.FIELD_SUBJECT.T_LABEL</span>
                            </label>
                            <input name="subject" ng-model="database.subject" required>
                            <div ng-messages="publicationForm.subject.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_SUBJECT.T_HELP</ark-help>
                    </ark-form-block>
                </div>
                <!-- right block -->
                <div class="md-padding" flex-offset-gt-md="4" flex>
                    <!-- Type -->
                    <ark-form-block>
                        <md-input-container>
                            <md-select name="type" ng-model="database.type" placeholder="* {{'IMPORT_STEP3.FIELD_TYPE.T_LABEL' | translate}}" required>
                                <md-option ng-value="type.id" ng-repeat="type in definitions.types">{{type.tr | translate}}</md-option>
                            </md-select>
                            <div ng-messages="publicationForm.type.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_TYPE.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Context -->
                    <ark-form-block>
                        <md-chips ng-model="database.contexts" md-autocomplete-snap md-require-match="true" md-allow-repeats="false" required>
                            <md-autocomplete md-search-text="searchText" md-items="context in searchContext(searchText)" md-item-text="context.label" placeholder="{{ 'IMPORT_STEP3.FIELD_CONTEXT.T_LABEL' | translate}}">
                                <span md-highlight-text="searchText">{{context.label}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <strong>{{$chip.label}}</strong>
                            </md-chip-template>
                        </md-chips>
                        <ark-help translate>IMPORT_STEP3.FIELD_CONTEXT.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- Scale resolution -->
                    <ark-form-block>
                        <md-input-container>
                            <md-select name="scale_resolution" ng-model="database.scale_resolution" placeholder="* {{'IMPORT_STEP3.FIELD_SCALE_RESOLUTION.T_LABEL' | translate}}" required>
                                <md-option ng-value="scaleResolution.id" ng-repeat="scaleResolution in definitions.scaleResolutions">{{scaleResolution.tr | translate}}</md-option>
                            </md-select>
                            <div ng-messages="publicationForm.scale_resolution.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_SCALE_RESOLUTION.T_HELP</ark-help>
                    </ark-form-block>
                    <!-- State -->
                    <ark-form-block>
                        <md-input-container>
                            <md-select name="state" ng-model="database.state" placeholder="* {{'IMPORT_STEP3.FIELD_STATE.T_LABEL' | translate}}" required>
                                <md-option ng-value="state.id" ng-repeat="state in definitions.states">{{state.tr | translate}}</md-option>
                            </md-select>
                            <div ng-messages="publicationForm.state.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                        <ark-help translate>IMPORT_STEP3.FIELD_STATE.T_HELP</ark-help>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Description blocks -->
            <md-content layout="column" layout-gt-sm="row" class="description-blocks">
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container>
                            <ark-lang-selector ark-set-as-translation-lang="1" ng-disabled="true"></ark-lang-selector>
                        </md-input-container>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="description" ng-model="desc_lang1" ark-translations="database.description" ark-translate ark-translate-bind-lang="1" aria-label="-" placeholder="{{ 'IMPORT_STEP3.FIELD_DESCRIPTION_LANG1.T_LABEL' | translate}}" required></textarea>
                            <div ng-messages="publicationForm.description.$error">
                                <div ng-message="required" translate>IMPORT.FIELD_ALL.T_ERROR_REQUIRED</div>
                            </div>
                        </md-input-container>
                    </ark-form-block>
                </div>
                <div class="md-padding" flex>
                    <ark-form-block>
                        <md-input-container>
                            <ark-lang-selector ark-set-as-translation-lang="2" ng-disabled="lang2SelectDisabled"></ark-lang-selector>
                        </md-input-container>
                        <md-input-container style="margin-top: 25px">
                            <textarea name="description2" ng-model="desc_lang2" ark-translations="database.description" ark-translate ark-translate-bind-lang="2" aria-label="-" placeholder="{{ 'IMPORT_STEP3.FIELD_DESCRIPTION_LANG2.T_LABEL' | translate}}"></textarea>
                            <div ng-messages="publicationForm.description2.$error">
                                <div ng-message="english_required" translate>IMPORT.FIELD_ALL.T_ENGLISH_TRANSLATION_REQUIRED</div>
                            </div>
                        </md-input-container>
                    </ark-form-block>
                </div>
            </md-content>
            <!-- Database status -->
            <md-content layout-padding style="margin-top: -60px">
                <ark-form-block>
                    <md-switch aria-label="{{'IMPORT_STEP3.FIELD_PUBLISHED.T_LABEL' | translate}}" ng-model="database.published" style="margin: 15px 0 25px 0">
                        <span translate>IMPORT_STEP3.FIELD_PUBLISHED.T_LABEL</span>
                    </md-switch>
                    <ark-help flex translate>IMPORT_STEP3.FIELD_PUBLISHED.T_HELP</ark-help>
                </ark-form-block>
            </md-content>
            <!-- Database public -->
            <md-content layout-padding style="margin-top: -45px">
                <ark-form-block>
                    <md-switch aria-label="{{'IMPORT_STEP3.FIELD_PUBLIC.T_LABEL' | translate}}" ng-model="database.public" style="margin: 15px 0 25px 0">
                        <span translate>IMPORT_STEP3.FIELD_PUBLIC.T_LABEL</span>
                    </md-switch>
                    <ark-help flex translate>IMPORT_STEP3.FIELD_PUBLIC.T_HELP</ark-help>
                </ark-form-block>
            </md-content>
            <!-- Actions -->
            <md-content layout layout-sm="column" layout-padding layout-align="center center">
                <md-button type="submit" class="md-primary md-raised md-hue-2" ng-disabled="!publicationForm.$valid">
                    <span translate>IMPORT_STEP3.FORM.T_BUTTON_SUBMIT</span>
                </md-button>
                <md-button class="md-raised md-hue-1" ui-sref="arkeogis.import.step1">
                    <span translate>IMPORT_STEP3.FORM.T_BUTTON_BACK</span>
                </md-button>
                <md-button class="md-raised" ui-sref="arkeogis.database({database_id: database.id})" ng-show="database.id && database.editMode"><span translate>IMPORT.BUTTON.T_CANCEL_AND_GO_TO_SHEET</span></md-button>
                <md-content></form>
            </div>
        </div>
