<div class="step3" flex>
  <md-card class="animate-hide" ng-hide="userPreferences.hideIntro" flex>
    <md-card-content translate>
      <p translate>IMPORT_STEP4.INFOS.T_LINE1</p>
      <p translate>IMPORT_STEP4.INFOS.T_LINE2</p>
    </md-card-content>
  </md-card>
  <div class="layout-padding">
    <h1 class="md-display-1">
      <span translate>IMPORT_STEP4.FORM.T_TITLE</span>
      "{{importFields.DatabaseName}}"</h1>
    <form name="publicationForm" class="md-padding">
      <md-content layout="column" layout-gt-sm="row">
        <!-- left block -->
        <div class="md-padding" flex>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_STRUCTURE.T_LABEL</label>
              <input name="structure" ng-model="moreInfosFields.Structure">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_STRUCTURE.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_CONTRIBUTOR.T_LABEL</label>
              <input name="contributor" ng-model="moreInfosFields.Contributor">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_CONTRIBUTOR.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label></label>
              <label translate>IMPORT_STEP4.FIELD_RESOURCE_ID.T_LABEL</label>
              <input name="identifier" ng-model="moreInfosFields.Identifier">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_RESOURCE_ID.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <label translate>IMPORT_STEP4.FIELD_URL.T_LABEL</label>
              <input name="source_url" ng-model="moreInfosFields.SourceUrl">
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_URL.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-datepicker ng-model="moreInfosFields.SourceCreationDate" md-placeholder="{{ 'IMPORT_STEP4.FIELD_DATE_IUR.T_LABEL' | translate }}"></md-datepicker>
            <ark-help translate>IMPORT_STEP4.FIELD_DATE_IUR.T_HELP</ark-help>
          </ark-form-block>
        </div>
        <!-- right block -->
        <div class="md-padding" flex-offset-gt-md="5" flex>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.Source" placeholder="{{ 'IMPORT_STEP4.FIELD_RESOURCE.T_LABEL' | translate }}
								" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_RESOURCE.T_HELP</ark-help>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.Relations" placeholder="{{ 'IMPORT_STEP4.FIELD_RELATIONS.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
          </ark-form-block>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.ContextDescription" placeholder="{{ 'IMPORT_STEP4.FIELD_CONTEXT_DESCRIPTION.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 120px"></textarea>
            </md-input-container>
          </ark-form-block>
        </div>
      </md-content>
      <!-- Geographical extent -->
      <md-content layout="column" layout-gt-sm="row" class="textarea-blocks">
        <div class="md-padding" flex>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.GeographicalExtent[0].value" placeholder="{{ 'IMPORT_STEP4.FIELD_GEOGRAPHICAL_EXTENT1.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 100px" required></textarea>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_GEOGRAPHICAL_EXTENT1.T_HELP</ark-help>
          </ark-form-block>
        </div>
        <div class="md-padding" flex>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.GeographicalExtent[1].value" placeholder="{{ 'IMPORT_STEP4.FIELD_GEOGRAPHICAL_EXTENT2.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 100px" required></textarea>
            </md-input-container>
          </ark-form-block>
        </div>
      </md-content>
      <!-- Bibliography -->
      <md-content layout="column" layout-gt-sm="row" class="textarea-blocks">
        <div class="md-padding" flex>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.Bibliography[0].value" placeholder="{{ 'IMPORT_STEP4.FIELD_BIBLIOGRAPHY1.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 100px" required></textarea>
            </md-input-container>
            <ark-help translate>IMPORT_STEP4.FIELD_BIBLIOGRAPHY1.T_HELP</ark-help>
          </ark-form-block>
        </div>
        <div class="md-padding" flex>
          <ark-form-block>
            <md-input-container>
              <textarea ng-model="moreInfosFields.Bibliography[1].value" placeholder="{{ 'IMPORT_STEP4.FIELD_BIBLIOGRAPHY2.T_LABEL' | translate }}" md-no-autogrow="true" style="height: 100px" required></textarea>
            </md-input-container>
          </ark-form-block>
        </div>
      </md-content>
      <!-- Actions -->
      <md-content layout layout-sm="column" layout-padding layout-align="center center">
        <md-button class="md-primary md-raised" ng-disabled="!publicationForm.$valid"><span translate>IMPORT_STEP4.FORM.T_BUTTON_SUBMIT</span></md-button>
        <md-button class="md-raised md-hue-1" ui-sref="import.step3"><span translate>IMPORT_STEP4.FORM.T_BUTTON_BACK</span></md-button>
        <md-content></form>
      </div>
<div style="margin: 20px 10px">
  {{database}}
</div>
