<md-dialog aria-label="Add user..." ng-cloak ng-controller="UserCtrl" translate-namespace="USER">
    <form name="userForm" ng-submit="userAddSubmit(this.userForm)">
        <md-toolbar>
            <div class='md-toolbar-tools'>
                <h2 translate>.HEADER_ADDUSER.T_TITLE</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()"><md-icon>close</md-icon></md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-width:1100px">
            <md-content layout-padding>
                <div layout="row">

                    <md-input-container flex="20">
                        <label translate>.FIELD_LAST_NAME.T_TITLE</label>
                        <input required ng-model="user.lastname"/>
                    </md-input-container>

                    <md-input-container flex="20">
                        <label translate>.FIELD_FIRST_NAME.T_TITLE</label>
                        <input required ng-model="user.firstname"/>
                    </md-input-container>

                    <md-input-container flex="20">
                        <label translate>.FIELD_EMAIL.T_TITLE</label>
                        <input maxlength="255" minlength="6" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/" required type="email" ng-change="userForm.email.$setValidity('server', true)"/>
                        <div ng-messages="userForm.email.$error" role="alert">
                            <div ng-if="userForm.email.$dirty" ng-message-exp="['required']">{{ 'USER.FIELD_EMAIL.T_CHECK_MANDATORY' | translate }}</div>
                            <div ng-if="userForm.email.$error.server">{{ userForm.email.$error.server | translate }}</div>
                            <div ng-message-exp="['minlength', 'maxlength', 'pattern']">{{ 'USER.FIELD_EMAIL.T_CHECK_INCORRECT' | translate }}</div>
                        </div>
                    </md-input-container>

                    <md-autocomplete flex="20"
                                     required
                                     md-search-text-change="searchTextCity=''"
                                     md-autoselect="true"
                                     md-floating-label="{{ 'USER.FIELD_COUNTRY.T_TITLE' | translate }}"
                                     md-item-text="item.name"
                                     md-items="item in autocompleteCountry(searchTextCountry)"
                                     md-min-length="1"
                                     md-no-cache="1"
                                     md-search-text="searchTextCountry"
                                     md-selected-item="user.city_and_country.country">
                        <md-item-template>
                            <span md-highlight-text="searchTextCountry">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>{{ 'USER.FIELD_COUNTRY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                    </md-autocomplete>

                    <md-autocomplete flex="20"
                                     required
                                     name="searchTextCity"
                                     md-autoselect="true"
                                     md-floating-label="{{ 'USER.FIELD_CITY.T_TITLE' | translate }}"
                                     md-item-text="item.name"
                                     md-items="item in autocompleteCity(user.city_and_country.country ? user.city_and_country.country.geonameid : null, searchTextCity)"
                                     md-min-length="2"
                                     md-no-cache="1"
                                     md-search-text="searchTextCity"
                                     md-selected-item="user.city_and_country.city"
                                     >
                        <md-item-template>
                            <span md-highlight-text="searchTextCity">{{item.name}}</span>
                        </md-item-template>
                        <md-not-found>{{ 'USER.FIELD_CITY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                    </md-autocomplete>

                </div>

                <div layout="row">
                    <div flex="20" layout="column">
                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_USERNAME.T_TITLE</label>
                                <input name="username" ng-change="userForm.username.$setValidity('exists', true); userForm.username.$setValidity('server', true)" ng-model="user.username" required/>
                                <div ng-messages="userForm.username.$error" role="alert">
                                    <div ng-if="userForm.username.$error.server">{{ userForm.username.$error.server | translate }}</div>
                                    <div ng-message="exists">{{ 'USER.FIELD_USERNAME.T_CHECK_ALREADYEXISTS' | translate }}</div>
                                    <div ng-if="userForm.username.$dirty" ng-message-exp="['required']">{{ 'USER.FIELD_USERNAME.T_CHECK_MANDATORY' | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_PASSWORD.T_TITLE</label>
                                <input name="password" ng-model="user.password" ng-change="userForm.password.$setValidity('server', true)" type="password"/>
                                <div ng-messages="userForm.password.$error" role="alert">
                                    <div ng-if="userForm.password.$error.server">{{ userForm.password.$error.server | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_PASSWORD2.T_TITLE</label>
                                <input name="password2" ng-model="user.password2" type="password"/>
                            </md-input-container>
                        </div>
                    </div>

                    <div flex="20" layout="column">

                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_LANG1.T_TITLE</label>
                                <md-select required name="first_lang_id" ng-model="user.first_lang_id" ng-change="userForm.first_lang_id.$setValidity('server', true)">
                                    <md-option ng-repeat="lang in langs" ng-value="lang.id">{{lang.iso_code}}</md-option>
                                </md-select>
                                <div ng-messages="userForm.first_lang_id.$error" role="alert">
                                    <div ng-if="userForm.first_lang_id.$error.server">{{ userForm.first_lang_id.$error.server | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_LANG2.T_TITLE</label>
                                <md-select required name="second_lang_id" ng-model="user.second_lang_id" ng-change="userForm.second_lang_id.$setValidity('server', true)">
                                    <md-option ng-repeat="lang in langs" ng-value="lang.id">{{lang.iso_code}}</md-option>
                                </md-select>
                                <div ng-messages="userForm.second_lang_id.$error" role="alert">
                                    <div ng-if="userForm.second_lang_id.$error.server">{{ userForm.second_lang_id.$error.server | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>

                        <div flex>
                            <md-input-container>
                                <label translate>.FIELD_GROUPS.T_TITLE</label>
                                <md-select ng-model="user.groups">
                                    <md-option value="1">Étudiants</md-option>
                                    <md-option value="2">Professeurs</md-option>
                                    <md-option value="3">Chercheurs</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                    </div>

                    <div flex="60" layout="column">
                        <div flex layout="row">
                            <md-autocomplete flex
                                             md-selected-item-change="company_change(0)"
                                             md-select-on-match="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY1.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCompany(companies_search[0])"
                                             md-min-length="1"
                                             md-no-cache="1"
                                             md-search-text="companies_search[0]"
                                             md-selected-item="companies[0]">
                                <md-item-template>
                                    <span md-highlight-text="companies_search[0]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>

                            <md-autocomplete flex
                                             md-search-text-change="companies_city_search[0]=''"
                                             md-autoselect="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY1_COUNTRY.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCountry(companies_country_search[0])"
                                             md-min-length="1"
                                             md-no-cache="1"
                                             md-search-text="companies_country_search[0]"
                                             md-selected-item="companies_country[0]">
                                <md-item-template>
                                    <span md-highlight-text="companies_country_search[0]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY_COUNTRY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>

                            <md-autocomplete flex
                                             md-autoselect="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY1_CITY.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCity(companies_country[0] ? companies_country[0].geonameid : null, companies_city_search[0])"
                                             md-min-length="2"
                                             md-no-cache="1"
                                             md-search-text="companies_city_search[0]"
                                             md-selected-item="companies_city[0]">
                                <md-item-template>
                                    <span md-highlight-text="companies_city_search[0]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY_CITY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>
                        </div>

                        <div flex layout="row">
                            <md-autocomplete flex
                                             md-selected-item-change="company_change(1)"
                                             md-select-on-match="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY2.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCompany(companies_search[1])"
                                             md-min-length="1"
                                             md-no-cache="1"
                                             md-search-text="companies_search[1]"
                                             md-selected-item="companies[1]">
                                <md-item-template>
                                    <span md-highlight-text="companies_search[1]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>

                            <md-autocomplete flex
                                             md-search-text-change="companies_city_search[1]=''"
                                             md-autoselect="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY2_COUNTRY.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCountry(companies_country_search[1])"
                                             md-min-length="1"
                                             md-no-cache="1"
                                             md-search-text="companies_country_search[1]"
                                             md-selected-item="companies_country[1]">
                                <md-item-template>
                                    <span md-highlight-text="companies_country_search[1]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY_COUNTRY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>

                            <md-autocomplete flex
                                             md-autoselect="true"
                                             md-floating-label="{{ 'USER.FIELD_COMPANY2_CITY.T_TITLE' | translate }}"
                                             md-item-text="item.name"
                                             md-items="item in autocompleteCity(companies_country[1] ? companies_country[1].geonameid : null, companies_city_search[1])"
                                             md-min-length="2"
                                             md-no-cache="1"
                                             md-search-text="companies_city_search[1]"
                                             md-selected-item="companies_city[1]">
                                <md-item-template>
                                    <span md-highlight-text="companies_city_search[1]">{{item.name}}</span>
                                </md-item-template>
                                <md-not-found>{{ 'USER.FIELD_COMPANY_CITY.T_CHECK_NOMATCH' | translate }}</md-not-found>
                            </md-autocomplete>
                        </div>


                        <div flex layout="row">
                            <md-input-container flex>
                                <label translate>.FIELD_DESCRIPTION.T_TITLE</label>
                                <textarea required name="description" rows="3" ng-model="user.description" ng-change="userForm.description.$setValidity('server', true)"></textarea>
                                <div ng-messages="userForm.description.$error" role="alert">
                                    <div ng-if="userForm.description.$error.server">{{ userForm.description.$error.server | translate }}</div>
                                </div>
                            </md-input-container>
                        </div>

                    </div>
                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label translate>.FIELD_CHRONOGROUP.T_TITLE</label>
                        <md-select ng-model="user.chronogroup" multiple>
                            <md-option value="1">Branlos</md-option>
                            <md-option value="2">Blagueurs</md-option>
                            <md-option value="3">Creuseurs de tombes</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label translate>.FIELD_CARACSGROUP.T_TITLE</label>
                        <md-select ng-model="user.caracsgroup" multiple>
                            <md-option value="1">Branlos</md-option>
                            <md-option value="2">Blagueurs</md-option>
                            <md-option value="3">Creuseurs de tombes</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex>
                        <label translate>.FIELD_ACTIVE.T_TITLE</label>
                        <md-select name="active" ng-model="user.active" required>
                            <md-option translate value="false">.FIELD_ACTIVE.T_ITEM_NO</md-option>
                            <md-option translate value="true">.FIELD_ACTIVE.T_ITEM_YES</md-option>
                        </md-select>
                        <div ng-messages="userForm.active.$error" role="alert">
                            <div ng-if="userForm.active.$dirty" ng-message-exp="['required']">{{ 'USER.FIELD_ACTIVE.T_CHECK_MANDATORY' | translate }}</div>
                        </div>
                    </md-input-container>

                </div>

                <div layout="row">
                    <md-input-container flex>
                        <label translate>.FIELD_PHOTO.T_TITLE</label>
                        <input type="file" ng-model="user.photo" accept="image/*"/>
                    </md-input-container>

                    <md-input-container flex>
                        <label translate>.FIELD_DATABASES.T_TITLE</label>
                        <textarea rows="3" ng-model="user.databases"></textarea>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="end" layout-wrap>
                        <md-button class="md-raised" ng-click="cancel()">Annuler</md-button>
                        <md-button class="md-raised md-primary" type="submit">Ok</md-button>
                </div>

            </md-content>
        </md-dialog-content>
    </form>

</md-dialog>
