<div class="bloc-userslist" translate-namespace="USER">

    <md-toolbar class="md-table-toolbar md-default" ng-show="!users_filter.show">
      <div class="md-toolbar-tools">
        <h2 class="md-title" translate>USER.HEADER_USERS.T_TITLE</h2>
        <div flex></div>
        <md-button class="md-icon-button" ng-click="users_filter.show = true">
          <md-icon>search</md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="openDialogEdit($event)">
          <md-icon>person_add</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-default" ng-show="users_filter.show">
      <div class="md-toolbar-tools">
        <md-icon>search</md-icon>
        <form flex name="users_filter.form">
          <input type="text" ng-model="users_query.filter" ng-model-options="users_filter.options" placeholder="{{'USER.HEADER_USERSLIST.T_SEARCH' | translate}}">
        </form>
        <md-button class="md-icon-button" ng-click="users_removeFilter()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <!-- table userslist -->
    <md-table-container>
        <table md-progress="promise" md-row-select md-table ng-model="selected">
            <thead md-head md-on-reorder="users_onReorder" md-order="users_query.order">
                <tr md-row>
                    <th md-column>
                        <span translate>USER.HEADER_USERSLIST.T_PHOTO</span>
                    </th>
                    <th md-column md-order-by="u.username">
                        <span translate>USER.HEADER_USERSLIST.T_USERNAME</span>
                    </th>
                    <th md-column md-order-by="u.created_at">
                        <span translate>USER.HEADER_USERSLIST.T_CREATEDAT</span>
                    </th>
                    <th md-column md-order-by="u.updated_at">
                        <span translate>USER.HEADER_USERSLIST.T_UPDATEDAT</span>
                    </th>
                    <th md-column md-order-by="u.lastname">
                        <span translate>USER.HEADER_USERSLIST.T_NAME</span>
                    </th>
                    <th md-column md-order-by="u.email">
                        <span translate>USER.HEADER_USERSLIST.T_EMAIL</span>
                    </th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS_CHRONO</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS_CARACS</span></th>
                    <th md-column md-order-by="u.active"><span translate>USER.HEADER_USERSLIST.T_ACTIVE</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_COUNTRY</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_COMPANY1</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_DATABASES</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-auto-select md-row ng-repeat="user in users.data">
                    <td md-cell>
                        <img style="max-width: 64px; max-height: 64px" class="user_photo" ng-src='/api/users/photo/{{user.photo_id}}'></img>
                    </td>
                    <td md-cell>
                        <a ng-click="openDialogEdit($event, user.id)">{{user.username}}</a>
                    </td>
                    <td md-cell>{{user.created_at | date:'short'}}</td>
                    <td md-cell>{{user.updated_at | date:'short'}}</td>
                    <td md-cell>{{user.lastname}} {{user.firstname}}</td>
                    <td md-cell>{{user.email}}</td>
                    <td md-cell><span ng-repeat="group in user.groups_user"><span ark-get-translation ark-translations="group.tr"></span>{{$last ? '' : ', '}}</span></td>
                    <td md-cell><span ng-repeat="group in user.groups_chronology"><span ark-get-translation ark-translations="group.tr"></span>{{$last ? '' : ', '}}</span></td>
                    <td md-cell><span ng-repeat="group in user.groups_charac"><span ark-get-translation ark-translations="group.tr"></span>{{$last ? '' : ', '}}</span></td>
                    <td md-cell>{{(user.active ? 'USER.USERSLIST_ACTIVE.T_TRUE' : 'USER.USERSLIST_ACTIVE.T_FALSE') | translate}}</td>
                    <td md-cell>{{user.country_and_city.country_name}}</td>
                    <td md-cell><span ng-repeat="company in user.companies">{{company.name}}{{$last ? '' : ', '}}</span></td>
                    <td md-cell><span ng-repeat="db in user.databases"><a href="#/database/{{db.f1}}">{{db.f2}}</a>{{$last ? '' : ', '}}</span></td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-label="{page: '{{'USER.FOOTER_USERSLIST.T_PAGE' | translate }}', rowsPerPage: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE' | translate }}', of: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE_OF' | translate }}'}"
                         md-limit="users_query.limit" md-on-paginate="users_onPaginate" md-page-select md-page="users_query.page" md-total="{{users.count}}" md-limit-options="[5, 10, 25, 50, 100, 500, 1000, 10000]"></md-table-pagination>
</div>
