<div class="bloc-userslist" translate-namespace="USER">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span translate>USER.HEADER_USERS.T_TITLE</span>
        </div>
    </md-toolbar>

    <!-- table userslist -->
    <md-table-container>
        <table md-progress="promise" md-row-select md-table ng-model="selected">
            <thead md-head md-on-reorder="users_onReorder" md-order="users_query.order">
                <tr md-row>
                    <th md-column md-order-by="nameToLower">
                        <span translate>USER.HEADER_USERSLIST.T_USERNAME</span>
                    </th>
                    <th md-column md-order-by="user.Created_at">
                        <span translate>USER.HEADER_USERSLIST.T_CREATEDAT</span>
                    </th>
                    <th md-column md-order-by="user.Updated_at">
                        <span translate>USER.HEADER_USERSLIST.T_UPDATEDAT</span>
                    </th>
                    <th md-column>
                        <span translate>USER.HEADER_USERSLIST.T_NAME</span>
                    </th>
                    <th md-column>
                        <span translate>USER.HEADER_USERSLIST.T_EMAIL</span>
                    </th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS_CHRONO</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_GROUPS_CARACS</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_ACTIVE</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_COUNTRY</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_COMPANY1</span></th>
                    <th md-column><span translate>USER.HEADER_USERSLIST.T_DATABASES</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-auto-select md-row md-select-id="{{user.Id}}" md-select="user" ng-repeat="user in users.Data">
                    <td md-cell>{{user.Username}}</td>
                    <td md-cell>{{user.Created_at | date:'short'}}</td>
                    <td md-cell>{{user.Updated_at | date:'short'}}</td>
                    <td md-cell>{{user.Lastname}} {{user.Firstname}}</td>
                    <td md-cell>{{user.Email}}</td>
                    <td md-cell>{{user.Groups}}</td>
                    <td md-cell>{{user.Groups_chrono}}</td>
                    <td md-cell>{{user.Groups_caracs}}</td>
                    <td md-cell>{{user.Active}}</td>
                    <td md-cell>{{user.Country}}</td>
                    <td md-cell>{{user.Company1}}</td>
                    <td md-cell>{{user.Databases}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination md-label="{page: '{{'USER.FOOTER_USERSLIST.T_PAGE' | translate }}', rowsPerPage: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE' | translate }}', of: '{{'USER.FOOTER_USERSLIST.T_ROWSPERPAGE_OF' | translate }}'}"
                         md-limit="users_query.limit" md-on-paginate="users_onPaginate" md-page-select md-page="users_query.page" md-total="{{users.Count}}"></md-table-pagination>
</div>
