<md-dialog class="dialog-areachooser" aria-label="Area Chooser..." ng-cloak flex="60">

    <md-toolbar layout-padding id='arkeo-areachooser-toolbar' class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h3>
                <span translate>QUERY_AREA.DIALOG.T_TITLE</span> <span ark-get-translation ark-translations="arbo.name"></span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <h4 translate>QUERY_AREA.DIALOG.T_INTRO</h4>

        <div class='title-1' translate>QUERY_AREA.DIALOG.T_CHOOSETOOL</div><br />
        <md-radio-group ng-model="area.type">
            <md-radio-button value="map" aria-label=""><span translate>QUERY_AREA.RADIOBUTTON.T_ALLMAP</span></md-radio-button>
            <md-radio-button value="rect" aria-label=""><span translate>QUERY_AREA.RADIOBUTTON.T_RECT</span></md-radio-button>
            <md-radio-button value="disc" aria-label=""><span translate>QUERY_AREA.RADIOBUTTON.T_DISC</span></md-radio-button>
            <md-radio-button value="free" aria-label=""><span translate>QUERY_AREA.RADIOBUTTON.T_FREE</span></md-radio-button>
            <md-radio-button value="custom" aria-label=""><span translate>QUERY_AREA.RADIOBUTTON.T_CUSTOM</span></md-radio-button>
            <table ng-show="area.type == 'custom'">
                <tr>
                    <th colspan="5" translate>QUERY_AREA.CUSTOM_LAT.T_TITLE</th>
                </tr>
                <tr>
                    <th translate>QUERY_AREA.CUSTOM_LAT.T_DEG</th>
                    <th translate>QUERY_AREA.CUSTOM_LAT.T_MIN</th>
                    <th translate>QUERY_AREA.CUSTOM_LAT.T_SEC</th>
                    <th translate>QUERY_AREA.CUSTOM_LAT.T_OR</th>
                    <th translate>QUERY_AREA.CUSTOM_LAT.T_NUMERIC</th>
                </tr>
                <tr>
                    <td><input type="number" step="1" ng-model="area.lat.deg" ng-change="toDecimal_lat()"></input></td>
                    <td><input type="number" step="1" ng-model="area.lat.min" ng-change="toDecimal_lat()"></input></td>
                    <td><input type="number" step="1" ng-model="area.lat.sec" ng-change="toDecimal_lat()"></input></td>
                    <td></td>
                    <th><input type="number" step="0.001" ng-model="area.lat.numeric" ng-change="fromDecimal_lat()"></input></th>
                </tr>
                <tr>
                    <th colspan="5" translate>QUERY_AREA.CUSTOM_LNG.T_TITLE</th>
                </tr>
                <tr>
                    <th translate>QUERY_AREA.CUSTOM_LNG.T_DEG</th>
                    <th translate>QUERY_AREA.CUSTOM_LNG.T_MIN</th>
                    <th translate>QUERY_AREA.CUSTOM_LNG.T_SEC</th>
                    <th translate>QUERY_AREA.CUSTOM_LNG.T_OR</th>
                    <th translate>QUERY_AREA.CUSTOM_LNG.T_NUMERIC</th>
                </tr>
                <tr>
                    <td><input type="number" step="1" ng-model="area.lng.deg" ng-change="toDecimal_lng()"></input></td>
                    <td><input type="number" step="1" ng-model="area.lng.min" ng-change="toDecimal_lng()"></input></td>
                    <td><input type="number" step="1" ng-model="area.lng.sec" ng-change="toDecimal_lng()"></input></td>
                    <td></td>
                    <th><input type="number" step="0.001" ng-model="area.lng.numeric" ng-change="fromDecimal_lng()"></input></th>
                </tr>
                <tr>
                    <th colspan="5" translate>QUERY_AREA.CUSTOM_RADIUS.T_TITLE</th>
                </tr>
                <tr>
                    <td colspan="5"><span translate>QUERY_AREA.CUSTOM_RADIUS.T_RADIUSOF</span> <input type="number" step="1" ng-model="area.radius"></input> <span translate>QUERY_AREA.CUSTOM_RADIUS.T_FROMCENTER</span></td>
                </tr>
            </table>
        </md-radio-group>

        <br /><br />
        <div class="querywin-footer"><b translate>QUERY_AREA.DIALOG.T_FOOTER_BOLD</b><span translate>QUERY_AREA.DIALOG.T_FOOTER_TEXT1</span><span translate>QUERY_AREA.DIALOG.T_FOOTER_TEXT2</span></div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" type="submit" ng-click="hide()"><span translate>QUERY_AREA.BUTTON_OK.T_TITLE</span></md-button>
    </md-dialog-actions>

</md-dialog>
