<md-dialog class="dialog-databaseschooser" aria-label="Chacar Chooser..." ng-cloak>

    <md-toolbar layout-padding id='arkeo-databaseschooser-toolbar' class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h3>
                <span translate>QUERY_DATABASES.DIALOG.T_TITLE</span>
            </h3>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()"><md-icon>close</md-icon></md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>

        <h4 translate>QUERY_DATABASES.DIALOG.T_INTRO</h4>

        <md-table-container>
            <table md-table md-row-select multiple ng-model="selected_databases">
                <thead md-head md-order="query.order" md-trigger="onOrderChange">
                    <tr>
                        <th md-column md-numeric md-order-by="default_language">
                            <span translate>QUERY_DATABASES.LIST_LANG.T_LABEL</span>
                        </th>
                        <th md-column md-numeric md-order-by="name">
                            <span translate>QUERY_DATABASES.LIST_NAME.T_LABEL</span>
                        </th>
                        <th md-column numeric>
                            <span translate>QUERY_DATABASES.LIST_START_DATE.T_LABEL</span>
                        </th>
                        <th md-column numeric>
                            <span translate>QUERY_DATABASES.LIST_END_DATE.T_LABEL</span>
                        </th>
                        <th md-column md-order-by="description">
                            <span translate>QUERY_DATABASES.LIST_DESCRIPTION.T_LABEL</span>
                        </th>
                        <th md-column md-order-by="author">
                            <span translate>QUERY_DATABASES.LIST_AUTHOR.T_LABEL</span>
                        </th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select="item" md-select-id="id" ng-click="toggleItem(item, 'databases')" ng-repeat="item in databases | filter:query.filter | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit">
                        <td md-cell>{{item.default_language | uppercase}}</td>
                        <td md-cell ark-get-translation ark-translations="item.name"></td>
                        <td md-cell>{{item.start_date | arkYear}}</td>
                        <td md-cell>{{item.end_date | arkYear}}</td>
                        <td md-cell ark-get-translation ark-translations="item.description"></td>
                        <td md-cell>{{item.author}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{databases.length}}" md-row-select="query.numRows" md-page-select></md-table-pagination>

    </md-dialog-content>

    <md-dialog-actions layout="row">
        <md-button class="md-raised md-primary" type="submit" ng-click="hide()"><span translate>QUERY_DATABASES.BUTTON_OK.T_TITLE</span></md-button>
    </md-dialog-actions>

</md-dialog>
