<md-dialog class="dialog-otherschooser" aria-label="Others Chooser..." ng-cloak flex="60">

    <md-toolbar layout-padding id='arkeo-otherschooser-toolbar' class="md-primary md-hue-3">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>QUERY_OTHERS.DIALOG.T_TITLE</span>
                <span ark-get-translation ark-translations="arbo.name"></span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="hide()">
                <md-icon>close</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content layout-padding>

        <h2 translate>QUERY_OTHERS.DIALOG.T_INTRO</h2>

        <h3 translate>QUERY_OTHERS.CHARACS.T_TITLE</h3>
        <div translate>QUERY_OTHERS.CHARACS_LINKED.T_TITLE</div>
        <md-radio-group ng-model="others.characs_linked" layout-padding>
            <div layout="row">
                <md-radio-button value="at-least-one" aria-label="">
                    <span translate>QUERY_OTHERS.CHARACS_LINKED.T_AT_LEAST_ONE</span>
                </md-radio-button>
                <md-radio-button value="all" aria-label="">
                    <span translate>QUERY_OTHERS.CHARACS_LINKED.T_ALL</span>
                </md-radio-button>
            </div>
        </md-radio-group>

        <hr />

        <h3 translate>QUERY_OTHERS.PRECISIONS.T_TITLE</h3>
        <div translate>QUERY_OTHERS.PRECISIONS.T_INTRO</div>

        <div translate>QUERY_OTHERS.PRECISIONS_KNOWLEDGES.T_TITLE</div>
        <div layout="row">
            <md-checkbox md-no-ink ng-model="others.knowledges" value="not_documented">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_NOTDOCUMENTED</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.knowledges" value="literature">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_LITERATURE</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.knowledges" value="prospected_aerial">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_PROSPECTED_AERIAL</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.knowledges" value="prospected_pedestrian">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_PROSPECTED_PEDESTRIAN</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.knowledges" value="surveyed">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_SURVEYED</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.knowledges" value="dig">
                <span translate>QUERY_OTHERS.KNOWLEDGE.T_DIG</span>
            </md-checkbox>
        </div>

        <div translate>QUERY_OTHERS.PRECISIONS_OCCUPATION.T_TITLE</div>
        <div layout="row">
            <md-checkbox md-no-ink ng-model="others.occupation" value="not_documented">
                <span translate>QUERY_OTHERS.OCCUPATION.T_NOTDOCUMENTED</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.occupation" value="single">
                <span translate>QUERY_OTHERS.OCCUPATION.T_SINGLE</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.occupation" value="continuous">
                <span translate>QUERY_OTHERS.OCCUPATION.T_CONTINUOUS</span>
            </md-checkbox>
            <md-checkbox md-no-ink ng-model="others.occupation" value="multiple">
                <span translate>QUERY_OTHERS.OCCUPATION.T_MULTIPLE</span>
            </md-checkbox>
        </div>


    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="md-raised md-primary" ng-click="hide()" ng-hide="('rect-disc-free').indexOf(others.type) != -1">
            <span translate>QUERY_OTHERS.BUTTON_OK.T_TITLE</span>
        </md-button>
        <md-button class="md-raised md-primary" ng-click="initDraw()" ng-show="('rect-disc-free').indexOf(others.type) != -1">
            <span translate>QUERY_OTHERS.BUTTON_DRAW.T_TITLE</span>
        </md-button>
    </md-dialog-actions>

</md-dialog>
